Repository nkllon/kiro-ai-development-hackathon: changes, and which pre-commit hooks are due for each by the changed paths.
All: json-validate, mdformat

.pre-commit-config.yaml:

---
# Pre-commit configuration for OpenFlow-Playground
# Uses UV package manager consistently for all operations
repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=200, --target-version=py312]

  # Python linting (temporarily disabled due to extensive code quality issues)
  # - repo: https://github.com/charliermarsh/ruff-pre-commit
  #   rev: v0.1.6
  #   hooks:
  #     - id: ruff
  #       args: [--fix, --exit-non-zero-on-fix]

  # Type checking (temporarily disabled due to extensive type annotation issues)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-requests, pandas-stubs]
  #       args: [--ignore-missing-imports]

  # Security scanning with Bandit (temporarily disabled due to test file
  # assertions)
  # - repo: https://github.com/PyCQA/bandit
  #   rev: 1.8.6
  #   hooks:
  #     - id: bandit
  #       args: [-r, src/, scripts/, --exclude, tests/, --exclude, test_*.py]
  #       exclude: ^(tests/|\.venv/|\.mypy_cache/|__pycache__/)
  #       pass_filenames: false

  # Dependency vulnerability scanning (Safety is installed via UV)
  - repo: local
    hooks:
      - id: safety-check
        name: Safety Check
        entry: uv run safety check
        language: system
        pass_filenames: false
        always_run: true
        description: Check for known security vulnerabilities in dependencies

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [--strict]

  # JSON validation
  - repo: local
    hooks:
      - id: json-validate
        name: JSON Validation
        entry: jq .
        language: system
        types: [json]
        description: Validate JSON syntax

  # Markdown formatting only (simplified)
  - repo: local
    hooks:
      - id: mdformat
        name: Markdown Format
        entry: uv run mdformat
        language: system
        types: [markdown]
        description: Format markdown files for consistency

# Global configuration
default_language_version:
  python: python3

# Skip certain checks for specific file types
exclude: |
  (?x)^(
      \.git/|
      \.venv/|
      __pycache__/|
      \.mypy_cache/|
      dist/|
      build/|
      \.eggs/|
      \.tox/|
      \.pytest_cache/|
      \.coverage|
      \.ruff_cache|
      \.bandit|
      \.safety|
      \.semgrep|
      \.gitleaks|
      \.trivy|
      .*-report\.json|
      \.secrets\.baseline
  )$

# Fail fast on critical issues
fail_fast: false

feat: add integrated beast mode system spec
  .kiro/specs/integrated-beast-mode-system/design.md
  .kiro/specs/integrated-beast-mode-system/requirements.md
  .kiro/specs/integrated-beast-mode-system/tasks.md
Due: mdformat

Complete test-RCA integration implementation
  .kiro/specs/test-rca-integration/tasks.md
  docs/test-rca-configuration.md
  docs/test-rca-developer-guide.md
  docs/test-rca-integration.md
  docs/test-rca-quick-reference.md
  docs/test-rca-troubleshooting.md
  examples/test_rca_usage_examples.py
Due: mdformat

feat: comprehensive test-RCA integration implementation
  assessment_results/approach_measurements.jsonl
  assessment_results/production_readiness_assessment_20250904_173006.json
  beast_mode_final_health_report.json
  metrics_data/gke_service_requests.jsonl
  metrics_data/gke_velocity_measurements.jsonl
  patterns/rca_patterns.json
  patterns/test_pattern_learning.json
  patterns/test_pattern_metrics.json
  patterns/test_specific_patterns.json
  tests/__pycache__/test_rca_error_handling.cpython-311-pytest-8.4.2.pyc
  tests/__pycache__/test_rca_error_integration.cpython-311-pytest-8.4.2.pyc
  tests/__pycache__/test_rca_integration_validation_suite.cpython-311-pytest-8.4.2.pyc
  tests/__pycache__/test_rca_integration_with_patterns.cpython-311-pytest-8.4.2.pyc
  tests/__pycache__/test_test_pattern_library.cpython-311-pytest-8.4.2.pyc
  tests/fixtures/__pycache__/test_rca_failure_scenarios.cpython-311-pytest-8.4.2.pyc
  tests/fixtures/test_rca_failure_scenarios.py
Due: json-validate

Update compiled Python bytecode files
  src/beast_mode/__pycache__/__init__.cpython-311.pyc
  src/beast_mode/execution/__pycache__/__init__.cpython-311.pyc
  src/beast_mode/execution/__pycache__/agent_manager.cpython-311.pyc
  src/beast_mode/execution/__pycache__/commands.cpython-311.pyc
  src/beast_mode/execution/__pycache__/execution_engine.cpython-311.pyc
  src/beast_mode/execution/__pycache__/git_session.cpython-311.pyc
  src/beast_mode/execution/__pycache__/task_manager.cpython-311.pyc
Due: none

feat: Add spec consistency reconciliation spec with PCOR approach
  .kiro/specs/spec-consistency-reconciliation/design.md
  .kiro/specs/spec-consistency-reconciliation/requirements.md
  .kiro/specs/spec-consistency-reconciliation/tasks.md
Due: mdformat

feat: Implement Governance Controller with PCOR prevention system
  .kiro/specs/spec-consistency-reconciliation/tasks.md
  assessment_results/approach_measurements.jsonl
  assessment_results/production_readiness_assessment_20250904_180519.json
  beast_mode_final_health_report.json
  metrics_data/gke_service_requests.jsonl
  metrics_data/gke_velocity_measurements.jsonl
  patterns/rca_patterns.json
  patterns/test_pattern_learning.json
  patterns/test_specific_patterns.json
  src/spec_reconciliation/__init__.py
  src/spec_reconciliation/__pycache__/__init__.cpython-311.pyc
  src/spec_reconciliation/__pycache__/cli.cpython-311.pyc
  src/spec_reconciliation/__pycache__/governance.cpython-311.pyc
  src/spec_reconciliation/__pycache__/validation.cpython-311.pyc
  src/spec_reconciliation/cli.py
  src/spec_reconciliation/governance.py
  src/spec_reconciliation/validation.py
  tests/__pycache__/test_spec_reconciliation.cpython-311-pytest-8.4.2.pyc
  tests/test_spec_reconciliation.py
Due: json-validate, mdformat

feat: implement Devpost API client with comprehensive HTTP handling
  .kiro/specs/devpost-hackathon-integration/tasks.md
  .vscode/settings.json
  pyproject.toml
  src/beast_mode/core/exceptions.py
  src/beast_mode/integration/devpost/api/client.py
  src/beast_mode/integration/devpost/auth/__init__.py
  src/beast_mode/integration/devpost/auth/auth_service.py
  src/beast_mode/integration/devpost/config.py
  src/beast_mode/integration/devpost/interfaces.py
  src/beast_mode/integration/devpost/models.py
  src/beast_mode/integration/devpost/monitoring/__init__.py
  src/beast_mode/integration/devpost/monitoring/change_detector.py
  src/beast_mode/integration/devpost/monitoring/content_analyzer.py
  src/beast_mode/integration/devpost/monitoring/file_monitor.py
  src/beast_mode/integration/devpost/project/__init__.py
  src/beast_mode/integration/devpost/project/manager.py
  src/beast_mode/integration/devpost/sync/__init__.py
  src/beast_mode/integration/devpost/sync/manager.py
  tests/test_devpost_file_monitor.py
  tests/unit/integration/__init__.py
  tests/unit/integration/devpost/__init__.py
  tests/unit/integration/devpost/monitoring/__init__.py
  tests/unit/integration/devpost/monitoring/test_change_detector.py
  tests/unit/integration/devpost/monitoring/test_file_monitor.py
  tests/unit/integration/devpost/test_api_client.py
  tests/unit/integration/devpost/test_auth_service.py
  tests/unit/integration/devpost/test_config.py
  tests/unit/integration/devpost/test_project_manager.py
Due: json-validate, mdformat

fix: remove duplicate test file causing conflicts
  tests/test_devpost_file_monitor.py
Due: none

fix: implement 30-second test timeout and resolve file monitor deadlocks
  .kiro/specs/devpost-hackathon-integration/tasks.md
  docs/rca/test-performance-timeout-analysis.md
  pyproject.toml
  src/beast_mode/integration/devpost/monitoring/file_monitor.py
  tests/unit/integration/devpost/test_file_monitor_timeout.py
Due: mdformat

fix: eliminate logging spam by ensuring log directories exist
  assessment_results/approach_measurements.jsonl
  assessment_results/production_readiness_assessment_20250904_193544.json
  assessment_results/production_readiness_assessment_20250904_194759.json
  beast_mode_final_health_report.json
  metrics_data/gke_service_requests.jsonl
  metrics_data/gke_velocity_measurements.jsonl
  patterns/rca_patterns.json
  patterns/test_pattern_learning.json
  patterns/test_specific_patterns.json
  src/beast_mode/operations/__pycache__/comprehensive_logging_system.cpython-311.pyc
  src/beast_mode/operations/comprehensive_logging_system.py
  src/spec_reconciliation/__pycache__/__init__.cpython-311.pyc
  src/spec_reconciliation/__pycache__/governance.cpython-311.pyc
  src/spec_reconciliation/__pycache__/validation.cpython-311.pyc
  tests/__pycache__/test_spec_reconciliation.cpython-311-pytest-8.4.2.pyc
Due: json-validate

Add RCA patterns for test failures related to imports and assertions
  patterns/rca_patterns.json
Due: json-validate

Improve error handling in comprehensive logging system
  src/beast_mode/operations/comprehensive_logging_system.py
Due: none

Update beast mode final health report with correct uptime hours
  beast_mode_final_health_report.json
Due: json-validate

Mark DevPost hackathon tasks as completed
  .kiro/specs/devpost-hackathon-integration/tasks.md
Due: mdformat

Add systematic approach metrics to assessment results
  assessment_results/approach_measurements.jsonl
Due: none

Add GKE velocity measurements for Beast Mode analysis
  metrics_data/gke_velocity_measurements.jsonl
Due: none

Add service request metrics for PDCA, model-driven, tool_health and QA services
  metrics_data/gke_service_requests.jsonl
Due: none

Improve file monitoring by resolving paths and handling relative path issues
  src/beast_mode/integration/devpost/monitoring/file_monitor.py
Due: none

Enhance TestFailureDetector reliability by removing temporary JSON output files and improving error handling.
  src/beast_mode/testing/test_failure_detector.py
Due: none

Add test pattern files from local development
  patterns/test_pattern_learning.json
  patterns/test_pattern_metrics.json
  patterns/test_specific_patterns.json
Due: json-validate

Update spec consistency reconciliation task list
  .kiro/specs/spec-consistency-reconciliation/tasks.md
Due: mdformat

Update devpost hackathon integration spec
  .kiro/specs/devpost-hackathon-integration/design.md
  .kiro/specs/devpost-hackathon-integration/requirements.md
  .kiro/specs/devpost-hackathon-integration/tasks.md
Due: mdformat

Add git devops pipeline spec files
  .kiro/specs/git-devops-pipeline/design.md
  .kiro/specs/git-devops-pipeline/requirements.md
  .kiro/specs/git-devops-pipeline/tasks.md
Due: mdformat

feat: update beast-mode-framework spec with latest changes
  .kiro/specs/beast-mode-framework/design.md
  .kiro/specs/beast-mode-framework/requirements.md
  .kiro/specs/beast-mode-framework/tasks.md
Due: mdformat

Add Document Validation Service spec
  .kiro/specs/document-validation-service/requirements.md
Due: mdformat

Add Document Validation Service design and tasks
  .kiro/specs/document-validation-service/design.md
  .kiro/specs/document-validation-service/tasks.md
Due: mdformat

Add Multi-Language Build Orchestration spec and update steering rules
  .kiro/specs/multi-language-build-orchestration/design.md
  .kiro/specs/multi-language-build-orchestration/requirements.md
  .kiro/specs/multi-language-build-orchestration/tasks.md
  .kiro/steering/product.md
  .kiro/steering/reconciliation-plan.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  docs/architecture/ADR-001-technology-stack.md
  makefiles/multi-language.mk
Due: mdformat

Fix syntax errors in RDI/RM analysis system and testing RCA framework
  src/spec_reconciliation/rdi_rm_analysis_system.py
  src/spec_reconciliation/testing_rca_framework.py
Due: none

feat: Add GCP billing integration spec with parallel execution plan
  .kiro/specs/gcp-billing-integration/design.md
  .kiro/specs/gcp-billing-integration/requirements.md
  .kiro/specs/gcp-billing-integration/tasks.md
Due: mdformat

feat(billing): Create Beast Mode billing module structure
  src/beast_mode/billing/__init__.py
  src/beast_mode/billing/asset_bridge/__init__.py
  src/beast_mode/billing/gcp_integration.py
  src/beast_mode/billing/interfaces.py
Due: none

feat(integration): Integrate GCP billing into Beast Mode resource monitor
  scripts/beast_mode_resource_monitor.py
Due: none
