Repository nkllon/kiro-ai-development-hackathon: changes, and which pre-commit hooks are due for each by the changed paths.
All: json-validate, mdformat

.pre-commit-config.yaml:

---
# Pre-commit configuration for OpenFlow-Playground
# Uses UV package manager consistently for all operations
repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=200, --target-version=py312]

  # Python linting (temporarily disabled due to extensive code quality issues)
  # - repo: https://github.com/charliermarsh/ruff-pre-commit
  #   rev: v0.1.6
  #   hooks:
  #     - id: ruff
  #       args: [--fix, --exit-non-zero-on-fix]

  # Type checking (temporarily disabled due to extensive type annotation issues)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-requests, pandas-stubs]
  #       args: [--ignore-missing-imports]

  # Security scanning with Bandit (temporarily disabled due to test file
  # assertions)
  # - repo: https://github.com/PyCQA/bandit
  #   rev: 1.8.6
  #   hooks:
  #     - id: bandit
  #       args: [-r, src/, scripts/, --exclude, tests/, --exclude, test_*.py]
  #       exclude: ^(tests/|\.venv/|\.mypy_cache/|__pycache__/)
  #       pass_filenames: false

  # Dependency vulnerability scanning (Safety is installed via UV)
  - repo: local
    hooks:
      - id: safety-check
        name: Safety Check
        entry: uv run safety check
        language: system
        pass_filenames: false
        always_run: true
        description: Check for known security vulnerabilities in dependencies

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [--strict]

  # JSON validation
  - repo: local
    hooks:
      - id: json-validate
        name: JSON Validation
        entry: jq .
        language: system
        types: [json]
        description: Validate JSON syntax

  # Markdown formatting only (simplified)
  - repo: local
    hooks:
      - id: mdformat
        name: Markdown Format
        entry: uv run mdformat
        language: system
        types: [markdown]
        description: Format markdown files for consistency

# Global configuration
default_language_version:
  python: python3

# Skip certain checks for specific file types
exclude: |
  (?x)^(
      \.git/|
      \.venv/|
      __pycache__/|
      \.mypy_cache/|
      dist/|
      build/|
      \.eggs/|
      \.tox/|
      \.pytest_cache/|
      \.coverage|
      \.ruff_cache|
      \.bandit|
      \.safety|
      \.semgrep|
      \.gitleaks|
      \.trivy|
      .*-report\.json|
      \.secrets\.baseline
  )$

# Fail fast on critical issues
fail_fast: false

🔧 Fix missing BeastModeError and complete test suite
  src/beast_mode/core/exceptions.py
  tests/test_comprehensive_working.py
Due: none

docs: Add comprehensive referential integrity architecture to repository discovery design
  .kiro/specs/repository-content-discovery-indexing/design.md
Due: mdformat

tasks: Update implementation tasks to include referential integrity architecture
  .kiro/specs/repository-content-discovery-indexing/tasks.md
Due: mdformat

tasks: Clean up and audit repository discovery implementation plan
  .kiro/specs/repository-content-discovery-indexing/tasks.md
Due: mdformat

fix: Correct task numbering format for taskStatus tool compatibility
  .kiro/specs/repository-content-discovery-indexing/tasks.md
Due: mdformat

feat: Add immutable hash IDs to tasks for robust tracking
  .kiro/specs/repository-content-discovery-indexing/tasks.md
Due: mdformat

BLOCKED: Document missing Beast Mode DAG Executor dependency
  .kiro/specs/repository-content-discovery-indexing/tasks.md
Due: mdformat

feat: Implement Spec Framework core components (Tasks 1-3)
  .kiro/specs/spec-framework/design.md
  .kiro/specs/spec-framework/tasks.md
  docs/spec-mode-framework-implementation-summary.md
  examples/spec_framework_demo.py
  src/spec_framework/__init__.py
  src/spec_framework/core/__init__.py
  src/spec_framework/core/base.py
  src/spec_framework/core/models.py
  src/spec_framework/core/specification_engine.py
  src/spec_framework/dependency.py
  src/spec_framework/engines/__init__.py
  src/spec_framework/engines/validation_engine.py
  src/spec_framework/generators/__init__.py
  src/spec_framework/generators/design_generator.py
  src/spec_framework/lifecycle.py
  src/spec_framework/managers/__init__.py
  src/spec_framework/managers/requirements_manager.py
  src/spec_framework/models.py
  src/spec_framework/orchestrators/__init__.py
  src/spec_framework/orchestrators/task_orchestrator.py
  src/spec_framework/reliability.py
  src/spec_framework/storage.py
  src/spec_framework/systems/__init__.py
  src/spec_framework/systems/traceability_system.py
  src/spec_framework/validators.py
  tests/integration/test_spec_framework_workflow.py
  tests/unit/spec_framework/__init__.py
  tests/unit/spec_framework/test_models.py
  tests/unit/spec_framework/test_storage.py
  tests/unit/spec_framework/test_validators.py
Due: mdformat

feat: implement RequirementsParser for Spec Scrub RDI Consistency
  src/spec_scrub/__init__.py
  src/spec_scrub/parsers/__init__.py
  src/spec_scrub/parsers/requirements_parser.py
  tests/integration/spec_scrub/__init__.py
  tests/integration/spec_scrub/test_requirements_parser_integration.py
  tests/unit/spec_scrub/__init__.py
  tests/unit/spec_scrub/parsers/__init__.py
  tests/unit/spec_scrub/parsers/test_requirements_parser.py
Due: none

feat: implement Spec Scrub Engine using Beast Mode infrastructure
  .kiro/settings/mcp.json
  .kiro/specs/spec-consistency-reconciliation/design.md
  .kiro/specs/spec-consistency-reconciliation/tasks.md
  .kiro/specs/spec-mode-framework/design.md
  .kiro/specs/spec-mode-framework/tasks.md
  .kiro/specs/spec-scrub-rdi-consistency/design.md
  .kiro/specs/spec-scrub-rdi-consistency/tasks.backup.md
  .kiro/steering/physics-informed-architecture.md
  .kiro/steering/tech.md
  brownfield_analysis/existing_implementations_inventory.md
  src/spec_framework/validation/__init__.py
  src/spec_framework/validation/acceptance_criteria_generator.py
  src/spec_framework/validation/ears_validator.py
  src/spec_framework/validation/requirement_traceability_system.py
  src/spec_framework/validation/user_story_validator.py
  src/spec_scrub/core/spec_scrub_engine.py
  src/spec_scrub/parsers/__init__.py
  src/spec_scrub/parsers/requirements_parser.py
  src/spec_scrub/parsers/spec_parser_adapter.py
  src/spec_scrub_rdi_consistency/core/designparser.py
  src/spec_scrub_rdi_consistency/core/discover_existing_spec_related_implementations.py
  src/spec_scrub_rdi_consistency/core/requirementsparser.py
  src/spec_scrub_rdi_consistency/core/taskparser.py
  tests/integration/spec_scrub/test_requirements_parser_integration.py
  tests/integration/spec_scrub/test_spec_scrub_engine_integration.py
  tests/spec_scrub_rdi_consistency/core/test_designparser.py
  tests/spec_scrub_rdi_consistency/core/test_discover_existing_spec_related_implementations.py
  tests/spec_scrub_rdi_consistency/core/test_requirementsparser.py
  tests/spec_scrub_rdi_consistency/core/test_taskparser.py
  tests/unit/spec_framework/validation/__init__.py
  tests/unit/spec_framework/validation/test_acceptance_criteria_generator.py
  tests/unit/spec_framework/validation/test_ears_validator.py
  tests/unit/spec_framework/validation/test_requirement_traceability_system.py
  tests/unit/spec_framework/validation/test_user_story_validator.py
  tests/unit/spec_scrub/parsers/test_requirements_parser.py
Due: json-validate, mdformat

feat: implement Unstructured Requirements Ingestion system
  src/spec_scrub/cli/__init__.py
  src/spec_scrub/cli/requirements_ingestion_cli.py
  src/spec_scrub/ingestion/__init__.py
  src/spec_scrub/ingestion/unstructured_requirements_ingester.py
  tests/integration/spec_scrub/test_unstructured_ingestion.py
Due: none

feat: implement VTI (Validation-through-Implementation) Feedback Loop
  src/spec_scrub/validation/__init__.py
  src/spec_scrub/validation/varb_validator.py
  src/spec_scrub/validation/vibe_coding_validator.py
  src/spec_scrub/validation/vti_feedback_loop.py
  tests/integration/spec_scrub/test_vti_feedback_loop.py
Due: none

feat: implement VARB (Validation through Authentic Requirements Behavior)
  src/spec_scrub/cli/varb_vti_demo.py
  src/spec_scrub/validation/__init__.py
  src/spec_scrub/validation/varb_validator.py
  tests/integration/spec_scrub/test_varb_validator.py
Due: none

fix: define VARB acronym properly - Voice-Authentic Requirements Behavior
  src/spec_scrub/cli/varb_vti_demo.py
  src/spec_scrub/validation/varb_acronym_definition.py
  src/spec_scrub/validation/varb_validator.py
Due: none

feat: implement VARB Defense System - getting ahead of offensive interpretations
  src/spec_scrub/validation/varb_acronym_definition.py
  src/spec_scrub/validation/varb_defense_system.py
Due: none

feat: complete VARB Defense System with field testing
  src/spec_scrub/validation/varb_defense_system.py
Due: none

Implement Spec Theater Remediation System
  .kiro/specs/spec-theater-remediation/design.md
  .kiro/specs/spec-theater-remediation/requirements.md
  .kiro/specs/spec-theater-remediation/tasks.md
  docs/spec-theater-remediation-insights.md
  src/spec_scrub/cli/practical_demo.py
  src/spec_scrub/validation/requirements_decomposer.py
  src/spec_scrub/validation/spec_bloat_detector.py
  tests/integration/spec_scrub/test_spec_bloat_detector.py
Due: mdformat

Complete Repository Discovery System Implementation
  .kiro/specs/repository-discovery-resumption/design.md
  .kiro/specs/repository-discovery-resumption/requirements.md
  .kiro/specs/repository-discovery-resumption/tasks.md
  src/repository_discovery/core/content_inventory_manager.py
  src/repository_discovery/core/content_scanner.py
  src/repository_discovery/simple_repository_discovery.py
  tests/unit/repository_discovery/test_content_scanner.py
Due: mdformat

Complete Adaptive Babel Fish Specification
  .kiro/specs/artifact-classification-transfer-learning/requirements.md
  .kiro/specs/universal-artifact-classification/design.md
  .kiro/specs/universal-artifact-classification/requirements.md
  .kiro/specs/universal-artifact-classification/tasks.md
  deployment/beast-mode-metrics/Dockerfile
  deployment/beast-mode-metrics/start_metrics.py
  deployment/local/docker-compose.yml
  deployment/local/prometheus.yml
  scripts/start-monitoring.sh
  scripts/start-prometheus.sh
  scripts/stop-monitoring.sh
  src/beast_mode/monitoring/prometheus_exporter.py
  src/beast_mode/performance/performance_monitoring_system.py
  src/repository_discovery/core/content_classifier.py
Due: mdformat

Implement Adaptive Babel Fish Transfer Learning Foundation
  pyproject.toml
  src/universal_artifact_classification/__init__.py
  src/universal_artifact_classification/adaptive_babel_fish.py
  src/universal_artifact_classification/anomaly_detector.py
  src/universal_artifact_classification/continuous_learning.py
  src/universal_artifact_classification/heuristic_engine.py
  src/universal_artifact_classification/models.py
  src/universal_artifact_classification/transfer_learning_engine.py
  tests/integration/test_babel_fish_integration.py
  tests/unit/universal_artifact_classification/__init__.py
  tests/unit/universal_artifact_classification/test_adaptive_babel_fish.py
Due: none

Complete Adaptive Classification Engine with Multi-Model Support
  .kiro/specs/universal-artifact-classification/tasks.md
  src/universal_artifact_classification/adaptive_babel_fish.py
  src/universal_artifact_classification/babel_fish_content_classifier.py
  src/universal_artifact_classification/transfer_learning_engine.py
  tests/integration/test_babel_fish_content_classifier.py
  tests/unit/universal_artifact_classification/test_multi_model_engine.py
Due: mdformat

feat: Add Directus CMS setup specification and infrastructure
  .kiro/specs/directus-cms-setup/design.md
  .kiro/specs/directus-cms-setup/requirements.md
  .kiro/specs/directus-cms-setup/tasks.md
  deployment/local/docker-compose.yml
  scripts/setup_directus.py
Due: mdformat

Fix Prometheus monitoring system stack overflow and recursive monitoring
  .kiro/specs/prometheus-monitoring-system-repair/design.md
  .kiro/specs/prometheus-monitoring-system-repair/requirements.md
  .kiro/specs/prometheus-monitoring-system-repair/tasks.md
  scripts/prometheus-monitor-daemon
  src/beast_mode/monitoring/client.py
  src/beast_mode/monitoring/daemon.py
  src/beast_mode/monitoring/prometheus_exporter.py
  tests/integration/test_monitoring_system.py
  tests/unit/beast_mode/monitoring/test_client.py
  tests/unit/beast_mode/monitoring/test_daemon.py
Due: mdformat

feat: Complete Directus CMS setup and data loading
  .kiro/specs/reflective-module-architecture-consolidation/design.md
  .kiro/specs/reflective-module-architecture-consolidation/requirements.md
  .kiro/specs/reflective-module-architecture-consolidation/tasks.md
  configure_directus_email.py
  configure_directus_email_manual.py
  deployment/local/docker-compose.yml
  fix_all_collections.py
  load_all_collections.py
  restore_directus_data.py
  restore_directus_schema.py
  run_real_tests.py
  run_repository_discovery.py
  simple_repo_discovery.py
  src/beast_mode/core/__init__.py
  src/multi_instance_orchestration/core/reflective_module.py
  test_directus_loading.py
  tests/beast_mode/test_unit.py
  update_interfaces.py
  uv.lock
Due: mdformat

Phase 5 Complete: Beast Mode Integration & Monitoring
  .kiro/specs/directus-cms-systematic-implementation/requirements.md
  .kiro/specs/directus-reconciliation-systematic/tasks.md
  src/beast_mode/directus_cms/api/__init__.py
  src/beast_mode/directus_cms/api/configurator.py
  src/beast_mode/directus_cms/api/graphql_config.py
  src/beast_mode/directus_cms/api/rest_config.py
  src/beast_mode/directus_cms/error_prevention/__init__.py
  src/beast_mode/directus_cms/error_prevention/api_handler.py
  src/beast_mode/directus_cms/error_prevention/auth_validator.py
  src/beast_mode/directus_cms/error_prevention/error_prevention.py
  src/beast_mode/directus_cms/error_prevention/schema_validator.py
  src/beast_mode/directus_cms/monitoring/backup_recovery.py
  src/beast_mode/directus_cms/monitoring/health_monitor.py
  src/beast_mode/directus_cms/monitoring/pdca_orchestrator.py
  src/beast_mode/directus_cms/monitoring/structured_logger.py
  src/beast_mode/directus_cms/orchestrator.py
  src/beast_mode/directus_cms/ui/__init__.py
  src/beast_mode/directus_cms/ui/navigation.py
  tests/unit/beast_mode/directus_cms/monitoring/test_phase5_integration.py
Due: mdformat

feat: Add Google Calendar MCP Integration specification
  .kiro/specs/google-calendar-mcp-integration/design.md
  .kiro/specs/google-calendar-mcp-integration/requirements.md
  .kiro/specs/google-calendar-mcp-integration/tasks.md
Due: mdformat

feat: Complete Beast Mode MCP specification and reconciliation
  .kiro/specs/directus-reconciliation-systematic/tasks.md
  .kiro/specs/google-calendar-mcp-integration/NEXT_STEPS.md
  .kiro/specs/google-calendar-mcp-integration/RECONCILIATION_ANALYSIS.md
  .kiro/specs/google-calendar-mcp-integration/design.md
  .kiro/specs/google-calendar-mcp-integration/requirements.md
  .kiro/specs/google-calendar-mcp-integration/tasks.md
  deployment/local/prometheus.yml
  docker/google-calendar-mcp/Dockerfile
  docker/google-calendar-mcp/INTEGRATION.md
  docker/google-calendar-mcp/README.md
  docker/google-calendar-mcp/docker-compose.yml
  docker/google-calendar-mcp/entrypoint.sh
  docker/google-calendar-mcp/requirements.txt
  src/beast_mode/mcp_integrations/__init__.py
  src/beast_mode/mcp_integrations/google_calendar/MODULE_RESPONSIBILITY_ANALYSIS.md
  src/beast_mode/mcp_integrations/google_calendar/PROFILING_ANALYSIS.md
  src/beast_mode/mcp_integrations/google_calendar/__init__.py
  src/beast_mode/mcp_integrations/google_calendar/auth_manager.py
  src/beast_mode/mcp_integrations/google_calendar/base.py
  src/beast_mode/mcp_integrations/google_calendar/interfaces/__init__.py
  src/beast_mode/mcp_integrations/google_calendar/interfaces/auth_interfaces.py
  src/beast_mode/mcp_integrations/google_calendar/interfaces/calendar_interfaces.py
  src/beast_mode/mcp_integrations/google_calendar/interfaces/config_interfaces.py
  src/beast_mode/mcp_integrations/google_calendar/interfaces/error_interfaces.py
  src/beast_mode/mcp_integrations/google_calendar/interfaces/server_interfaces.py
  src/beast_mode/mcp_integrations/google_calendar/main.py
  src/beast_mode/mcp_integrations/google_calendar/models.py
  src/beast_mode/mcp_integrations/google_calendar/operations_handler.py
  src/beast_mode/mcp_integrations/google_calendar/profiling.py
  src/beast_mode/mcp_integrations/google_calendar/request_router.py
  src/beast_mode/mcp_integrations/google_calendar/server.py
  src/beast_mode/mcp_integrations/google_calendar/smoke_test.py
  tests/unit/beast_mode/mcp_integrations/__init__.py
  tests/unit/beast_mode/mcp_integrations/google_calendar/__init__.py
  tests/unit/beast_mode/mcp_integrations/google_calendar/test_models.py
  tests/unit/beast_mode/mcp_integrations/google_calendar/test_profiling.py
  tests/unit/beast_mode/mcp_integrations/google_calendar/test_server.py
Due: mdformat

feat: Create MCP Development Framework specification
  .kiro/specs/mcp-development-framework/design.md
  .kiro/specs/mcp-development-framework/requirements.md
  .kiro/specs/mcp-development-framework/tasks.md
Due: mdformat

feat: Complete MCP development work and quota project fix
  .kiro/specs/google-calendar-mcp-quota-project-fix/design.md
  .kiro/specs/google-calendar-mcp-quota-project-fix/requirements.md
  .kiro/specs/google-calendar-mcp-quota-project-fix/tasks.md
  GITHUB_ISSUE_TEMPLATE.md
  GOOGLE_CALENDAR_MCP_BUG_REPORT.md
  GOOGLE_CALENDAR_MCP_QUOTA_PROJECT_FIX.md
  GOOGLE_CALENDAR_MCP_RESOLUTION.md
  PULL_REQUEST_TEMPLATE.md
  docker/google-calendar-mcp/Dockerfile
  docker/google-calendar-mcp/README.md
  docker/google-calendar-mcp/docker-compose.yml
  docker/google-calendar-mcp/monitoring/grafana/provisioning/dashboards/dashboard.yml
  docker/google-calendar-mcp/monitoring/grafana/provisioning/datasources/prometheus.yml
  docker/google-calendar-mcp/monitoring/prometheus/prometheus.yml
  docker/google-calendar-mcp/requirements.txt
  docker/google-calendar-mcp/setup-credentials.sh
  docker/google-calendar-mcp/setup.sh
  docker/google-calendar-mcp/test-mcp.sh
  get_calendar.py
  scripts/mcp_client.js
  scripts/test_mcp_connection.py
  simple_calendar.py
  src/beast_mode/mcp_integrations/google_calendar/auth_manager.py
  src/beast_mode/mcp_integrations/google_calendar/http_server.py
  src/beast_mode/mcp_integrations/google_calendar/mcp_transport.py
  src/beast_mode/mcp_integrations/google_calendar/operations_handler.py
Due: mdformat

feat: Add practical repository cleanup specification
  .kiro/specs/practical-repository-cleanup/design.md
  .kiro/specs/practical-repository-cleanup/requirements.md
  .kiro/specs/practical-repository-cleanup/tasks.md
  CLAUDE.md
Due: mdformat

Clean up remaining git conflict markers
  cleanup_conflicts.py
  docs/README.md
  docs/other/misc/pyproject.toml
  docs/other/misc/uv.lock
  docs/readme/project/README.md
  src/beast_mode/billing/gcp_integration.py
  src/beast_mode/hubris_prevention/enforcement/humility_enforcer.py
  src/beast_mode/integration/devpost/api/client.py
  src/beast_mode/resilience/graceful_degradation_manager.py
  src/spec_reconciliation/beast_mode_system_backup.py
  tests/__init__.py
Due: mdformat

Add missing dependencies for Google Calendar MCP integration
  pyproject.toml
Due: none
