Repository nkllon/kiro-ai-development-hackathon: changes, and which pre-commit hooks are due for each by the changed paths.
All: json-validate, mdformat

.pre-commit-config.yaml:

---
# Pre-commit configuration for OpenFlow-Playground
# Uses UV package manager consistently for all operations
repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=200, --target-version=py312]

  # Python linting (temporarily disabled due to extensive code quality issues)
  # - repo: https://github.com/charliermarsh/ruff-pre-commit
  #   rev: v0.1.6
  #   hooks:
  #     - id: ruff
  #       args: [--fix, --exit-non-zero-on-fix]

  # Type checking (temporarily disabled due to extensive type annotation issues)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-requests, pandas-stubs]
  #       args: [--ignore-missing-imports]

  # Security scanning with Bandit (temporarily disabled due to test file
  # assertions)
  # - repo: https://github.com/PyCQA/bandit
  #   rev: 1.8.6
  #   hooks:
  #     - id: bandit
  #       args: [-r, src/, scripts/, --exclude, tests/, --exclude, test_*.py]
  #       exclude: ^(tests/|\.venv/|\.mypy_cache/|__pycache__/)
  #       pass_filenames: false

  # Dependency vulnerability scanning (Safety is installed via UV)
  - repo: local
    hooks:
      - id: safety-check
        name: Safety Check
        entry: uv run safety check
        language: system
        pass_filenames: false
        always_run: true
        description: Check for known security vulnerabilities in dependencies

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [--strict]

  # JSON validation
  - repo: local
    hooks:
      - id: json-validate
        name: JSON Validation
        entry: jq .
        language: system
        types: [json]
        description: Validate JSON syntax

  # Markdown formatting only (simplified)
  - repo: local
    hooks:
      - id: mdformat
        name: Markdown Format
        entry: uv run mdformat
        language: system
        types: [markdown]
        description: Format markdown files for consistency

# Global configuration
default_language_version:
  python: python3

# Skip certain checks for specific file types
exclude: |
  (?x)^(
      \.git/|
      \.venv/|
      __pycache__/|
      \.mypy_cache/|
      dist/|
      build/|
      \.eggs/|
      \.tox/|
      \.pytest_cache/|
      \.coverage|
      \.ruff_cache|
      \.bandit|
      \.safety|
      \.semgrep|
      \.gitleaks|
      \.trivy|
      .*-report\.json|
      \.secrets\.baseline
  )$

# Fail fast on critical issues
fail_fast: false

feat: Add Super Whisper health monitor daemon
  scripts/super_whisper_monitor.py
Due: none

🎉 PHASE 4 TASK BREAKDOWN COMPLETE
  .kiro/reports/phase4-application-results.json
  .kiro/reports/phase4-bootstrap-results.json
  .kiro/reports/phase4-complete-summary.md
  .kiro/reports/phase4-foundation-results.json
  .kiro/reports/phase4-intelligence-results.json
  .kiro/specs/anti-duplication-system/tasks.md
  .kiro/specs/artifact-classification-transfer-learning/tasks.md
  .kiro/specs/beast-mode-rebuild/tasks.md
  .kiro/specs/devpost-hackathon-integration/tasks.md
  .kiro/specs/directus-cms-systematic-implementation/tasks.md
  .kiro/specs/directus-data-population/tasks.md
  .kiro/specs/directus-schema-design/tasks.md
  .kiro/specs/directus-ui-configuration/tasks.md
  .kiro/specs/information-exhaust-preservation/tasks.md
  .kiro/specs/meta-monitoring-experiment/tasks.md
  .kiro/specs/meta-observatory-streaming/tasks.md
  .kiro/specs/observatory-editorial-intelligence/tasks.md
  .kiro/specs/observatory-emergency-repair/tasks.md
  .kiro/specs/observatory-reality-check-validation/tasks.md
  .kiro/specs/observatory-social-authentication/tasks.md
  .kiro/specs/observatory-system-recovery/tasks.md
  .kiro/specs/redis-dag-registry/tasks.md
  .kiro/specs/reflective-coordinator-system/tasks.md
  .kiro/specs/subprocess-safety-requirements/tasks.md
  scripts/execute_phase_4_application.py
  scripts/execute_phase_4_bootstrap.py
  scripts/execute_phase_4_foundation.py
  scripts/execute_phase_4_intelligence.py
Due: json-validate, mdformat

📊 CONSTELLATION ELABORATION STATUS UPDATE
  .kiro/constellation-config.json
  .kiro/constellation-execution-config.json
  .kiro/constellation-readiness-report.json
  .kiro/execution-status.json
  .kiro/reports/constellation-elaboration-complete.md
  .kiro/reports/constellation-elaboration-status.json
  .kiro/reports/constellation-execution-roadmap-final.md
  .kiro/reports/constellation-inventory-2025.json
  .kiro/reports/dimension-coverage-final.json
  .kiro/reports/dimension-coverage-final.md
Due: json-validate, mdformat

🏗️ PHASE 2 & 3 CONSTELLATION EXECUTORS
  scripts/execute_phase_2_application.py
  scripts/execute_phase_2_bootstrap.py
  scripts/execute_phase_2_foundation.py
  scripts/execute_phase_2_intelligence.py
  scripts/execute_phase_3_application.py
  scripts/execute_phase_3_bootstrap.py
  scripts/execute_phase_3_foundation.py
  scripts/execute_phase_3_intelligence.py
Due: none

🧹 Remove .DS_Store files from git tracking
  .kiro/.DS_Store
  .kiro/specs/.DS_Store
  docs/.DS_Store
  docs/reports/.DS_Store
  scripts/.DS_Store
  src/.DS_Store
  src/ai_memory_palace/.DS_Store
  src/beast_mode/.DS_Store
  src/cms_platform/.DS_Store
  src/directus_reconciliation/.DS_Store
  src/repository_discovery/.DS_Store
  src/rm_ddd/.DS_Store
  src/runtime_state_registry/.DS_Store
  src/service_auto_start/.DS_Store
  src/system_architecture/.DS_Store
  tests/.DS_Store
  tests/integration/.DS_Store
  tests/unit/.DS_Store
Due: none

🧹 Remove google-calendar-mcp subproject
  .kiro/settings/mcp.json
Due: json-validate

🧹 Remove all task completion marker files
  .task-1.1-complete
  .task-1.2-complete
  .task-1.3-complete
  .task-10.1-complete
  .task-10.2-complete
  .task-10.3-complete
  .task-10.4-complete
  .task-2.1-complete
  .task-2.2-complete
  .task-2.3-complete
  .task-3.1-complete
  .task-3.2-complete
  .task-3.3-complete
  .task-4.1-complete
  .task-4.2-complete
  .task-4.3-complete
  .task-4.4-complete
  .task-4.5-complete
  .task-5.1-complete
  .task-5.2-complete
  .task-5.3-complete
  .task-5.4-complete
  .task-6.1-complete
  .task-6.2-complete
  .task-6.3-complete
  .task-7.1-complete
  .task-7.2-complete
  .task-7.3-complete
  .task-8.1-complete
  .task-8.2-complete
  .task-8.3-complete
  .task-9.1-complete
  .task-9.2-complete
  .task-9.3-complete
Due: none

📊 EXPERIMENT: Hybrid LLM Code Generation (DeepSeek + Claude)
  .claude/instructions.md
  .deepseek/arena_learning.md
  .deepseek/instructions.md
  .deepseek/learning.md
  .deepseek/project-context.md
  docs/experiments/hybrid-llm-code-generation-experiment.md
  notebooks/hybrid_execution_performance.ipynb
  src/arena_code_generator.py
  src/hybrid_code_generator.py
Due: mdformat

feat: Complete GitHub sync implementation with critical bug fixes
  src/github_sync/auth.py
  src/github_sync/config.py
  src/github_sync/data_recovery.py
  src/github_sync/sync.py
  src/github_sync/webhooks.py
  tests/test_github_sync_comprehensive.py
Due: none

docs: document rc1-patch branch workflow
  docs/BRANCH_WORKFLOW.md
Due: mdformat

Update docs/BRANCH_WORKFLOW.md
  docs/BRANCH_WORKFLOW.md
Due: mdformat

docs: clarify release branch workflow
  docs/BRANCH_WORKFLOW.md
Due: mdformat

feat: add comprehensive Coverage Gap Analysis to dev-test report
  reports/dev-test-report.md
Due: mdformat

ci: add fast validators and fix prometheus wiring
  .env.example
  .env.template
  .github/workflows/ci.yml
  Makefile
  README.md
  docker-compose.yml
  docs/deployment/poe-bootstrap.md
  docs/installation/INSTALLATION_GUIDE.md
  docs/operational-workflows/docker-bridge-network-troubleshooting.md
  docs/operational-workflows/vonnegut-docker-network-resolution-2025-10-09.md
  install.sh
  src/beast_mode/monitoring/prometheus_exporter.py
  src/beast_mode/performance/performance_monitoring_system.py
  src/rm_ddd/core/unified_reflective_module.py
  tests/unit/monitoring/test_prometheus_exporter.py
Due: mdformat

feat: add redis mailbox service
  README.md
  docs/deployment/directus-bootstrap.md
  docs/operational-workflows/beast-mailbox-network.md
  scripts/run_mailbox_service.py
  scripts/send_mailbox_message.py
  src/beast_mode/messaging/redis_mailbox.py
Due: mdformat

feat: add directus bootstrap compose and mailbox docs
  README.md
  deployment/directus/docker-compose.yml
  docs/deployment/directus-bootstrap.md
  docs/installation/INSTALLATION_GUIDE.md
  install.sh
  scripts/send_mailbox_message.py
  src/beast_mode/messaging/redis_mailbox.py
Due: mdformat

fix: use repo root for directus bootstrap
  install.sh
Due: none

feat: scaffold beast-mailbox-core PyPI package
  README.md
  packages/beast-mailbox-core/README.md
  packages/beast-mailbox-core/pyproject.toml
  packages/beast-mailbox-core/src/beast_mailbox_core/__init__.py
  packages/beast-mailbox-core/src/beast_mailbox_core/cli.py
  packages/beast-mailbox-core/src/beast_mailbox_core/redis_mailbox.py
Due: mdformat

chore: add poe mailbox installation report
  docs/beast-mailbox-poe-installation-report.md
Due: mdformat

docs: Add Poe agent installation report (2025-10-10)
  docs/POE_INSTALLATION_REPORT_2025-10-10.md
Due: mdformat

ci: add SonarCloud and Dependabot with automated API setup
  .github/dependabot.yml
  .github/workflows/sonarcloud.yml
  SONARCLOUD_API_SETUP.md
  SONARCLOUD_SETUP_GUIDE.md
  scripts/setup_sonarcloud.py
  sonar-project.properties
Due: mdformat

ci: simplify SonarCloud workflow to recommended pattern
  .github/workflows/sonarcloud.yml
Due: none

ci: simplify sonar-project.properties to minimal recommended format
  sonar-project.properties
Due: none

chore: update .gitignore with system and IDE exclusions
  .cursor/mcp.json
  .gitignore
  .kiro/.DS_Store
  .vscode/settings.json
  CONTAINER_SPACE_MACOS_GUIDE.md
  DEPENDENCY_MANAGEMENT_LESSONS.md
  DUAL_REDIS_SUMMARY.md
  FRESH_INSTALL_COMPLETE.md
  HOW_TO_FIX_DEPENDENCIES.md
  INSTALLATION_REPORT.md
  MISSING_DEPENDENCIES.md
  OBSERVATORY_CLUSTER_CONNECTED.md
  REDIS_CONFIGURATION_QUESTIONNAIRE.md
  REDIS_DEPLOYMENT_GUIDE.md
  REDIS_DUAL_INSTANCE_ARCHITECTURE.md
  REDIS_PORT_CONFIGURATION.md
  REDIS_QUICK_START.md
  REDIS_SETUP_SUMMARY.md
  analyze_container_space.sh
  data/redis/appendonlydir/appendonly.aof.1.base.rdb
  data/redis/appendonlydir/appendonly.aof.1.incr.aof
  data/redis/dump.rdb
  discover_observatory_cluster.py
  docker-compose.redis.yml
  docker/google-calendar-mcp/.cursorignore
  docker_cleanup.sh
  observatory.env.example
  redis.env.example
  test_lab_communication.py
  test_redis_connection.py
Due: json-validate, mdformat
