Repository nkllon/kiro-ai-development-hackathon: changes, and which pre-commit hooks are due for each by the changed paths.
All: json-validate, mdformat

.pre-commit-config.yaml:

---
# Pre-commit configuration for OpenFlow-Playground
# Uses UV package manager consistently for all operations
repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=200, --target-version=py312]

  # Python linting (temporarily disabled due to extensive code quality issues)
  # - repo: https://github.com/charliermarsh/ruff-pre-commit
  #   rev: v0.1.6
  #   hooks:
  #     - id: ruff
  #       args: [--fix, --exit-non-zero-on-fix]

  # Type checking (temporarily disabled due to extensive type annotation issues)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-requests, pandas-stubs]
  #       args: [--ignore-missing-imports]

  # Security scanning with Bandit (temporarily disabled due to test file
  # assertions)
  # - repo: https://github.com/PyCQA/bandit
  #   rev: 1.8.6
  #   hooks:
  #     - id: bandit
  #       args: [-r, src/, scripts/, --exclude, tests/, --exclude, test_*.py]
  #       exclude: ^(tests/|\.venv/|\.mypy_cache/|__pycache__/)
  #       pass_filenames: false

  # Dependency vulnerability scanning (Safety is installed via UV)
  - repo: local
    hooks:
      - id: safety-check
        name: Safety Check
        entry: uv run safety check
        language: system
        pass_filenames: false
        always_run: true
        description: Check for known security vulnerabilities in dependencies

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [--strict]

  # JSON validation
  - repo: local
    hooks:
      - id: json-validate
        name: JSON Validation
        entry: jq .
        language: system
        types: [json]
        description: Validate JSON syntax

  # Markdown formatting only (simplified)
  - repo: local
    hooks:
      - id: mdformat
        name: Markdown Format
        entry: uv run mdformat
        language: system
        types: [markdown]
        description: Format markdown files for consistency

# Global configuration
default_language_version:
  python: python3

# Skip certain checks for specific file types
exclude: |
  (?x)^(
      \.git/|
      \.venv/|
      __pycache__/|
      \.mypy_cache/|
      dist/|
      build/|
      \.eggs/|
      \.tox/|
      \.pytest_cache/|
      \.coverage|
      \.ruff_cache|
      \.bandit|
      \.safety|
      \.semgrep|
      \.gitleaks|
      \.trivy|
      .*-report\.json|
      \.secrets\.baseline
  )$

# Fail fast on critical issues
fail_fast: false

feat: Add Cloudflare 1000S_BOX token to custom error page
  cloudflare/error-pages/1033-enhanced.html
Due: none

Fix GitHub repository links in error page
  cloudflare/error-pages/1033-enhanced.html
Due: none

feat: Repository Content Discovery and Indexing - Launch Ready
  .kiro/specs/repository-content-discovery-indexing/DAG_TASKS.md
  .kiro/specs/repository-content-discovery-indexing/LAUNCH_READINESS.md
  .kiro/specs/repository-content-discovery-indexing/LAUNCH_SUMMARY.md
  .kiro/specs/repository-content-discovery-indexing/PARALLEL_DAG_LAUNCH.md
  .kiro/specs/repository-content-discovery-indexing/design.md
  .kiro/specs/repository-content-discovery-indexing/requirements.md
  .kiro/specs/repository-content-discovery-indexing/tasks.md
  scripts/repository_discovery_background_launch.sh
  scripts/repository_discovery_launch.py
  scripts/repository_discovery_prelaunch_check.py
Due: mdformat

feat: Add ad-hoc to spec governance steering rule
  .kiro/steering/ad-hoc-to-spec-governance.md
Due: mdformat

feat: Add Repository Setup and Installation spec with parallel DAG orchestration
  .kiro/specs/repository-setup-and-installation/DAG_TASKS.md
  .kiro/specs/repository-setup-and-installation/PARALLEL_DAG_LAUNCH.md
  .kiro/specs/repository-setup-and-installation/design.md
  .kiro/specs/repository-setup-and-installation/requirements.md
  .kiro/specs/repository-setup-and-installation/tasks.md
  scripts/repository_setup_background_launch.sh
  scripts/repository_setup_launch.py
  scripts/repository_setup_prelaunch_check.py
Due: mdformat

feat: Deploy V2.0 Workflow Control with 73.7% Efficiency Gains
  .kiro/specs/documentation-index-generator/DAG_TASKS.md
  .kiro/specs/documentation-index-generator/LAUNCH_READINESS.md
  .kiro/specs/documentation-index-generator/PARALLEL_DAG_LAUNCH.md
  .kiro/specs/documentation-index-generator/design.md
  .kiro/specs/documentation-index-generator/requirements.md
  .kiro/specs/documentation-index-generator/tasks.md
  .kiro/specs/spec-creation-dag-compliance/CONCURRENT_EXECUTION_ANALYSIS.md
  .kiro/specs/spec-creation-dag-compliance/DAG_TASKS.md
  .kiro/specs/spec-creation-dag-compliance/LAUNCH_ISSUES_LOG.md
  .kiro/specs/spec-creation-dag-compliance/LAUNCH_READINESS.md
  .kiro/specs/spec-creation-dag-compliance/LAUNCH_SCRIPT_ROOT_CAUSE_ANALYSIS.md
  .kiro/specs/spec-creation-dag-compliance/LAUNCH_SUMMARY.md
  .kiro/specs/spec-creation-dag-compliance/PARALLEL_DAG_LAUNCH.md
  .kiro/specs/spec-creation-dag-compliance/design.md
  .kiro/specs/spec-creation-dag-compliance/requirements.md
  .kiro/specs/spec-creation-dag-compliance/tasks.md
  V2_WORKFLOW_CONTROL_DEPLOYMENT_SUMMARY.md
  scripts/documentation_index_background_launch_v2.sh
  scripts/documentation_index_launch_v2.py
  scripts/documentation_index_prelaunch_check_v2.py
  scripts/repository_discovery_background_launch_v2.sh
  scripts/repository_discovery_launch_v2.py
  scripts/repository_discovery_prelaunch_check_v2.py
  scripts/spec_creation_dag_compliance_background_launch.sh
  scripts/spec_creation_dag_compliance_launch.py
  scripts/spec_creation_dag_compliance_prelaunch_check.py
Due: mdformat

feat: Add original v1.0 workflow control scripts for comparison
  .kiro/specs/repository-setup-and-installation/LAUNCH_READINESS.md
  scripts/documentation_index_background_launch.sh
  scripts/documentation_index_launch.py
  scripts/documentation_index_prelaunch_check.py
Due: mdformat

🚀 MAJOR: Implement Prepare Spec for Execution Framework
  .kiro/specs/prepare-spec-for-execution/design.md
  .kiro/specs/prepare-spec-for-execution/requirements.md
  .kiro/specs/prepare-spec-for-execution/tasks.md
  scripts/prepare_spec.py
  src/execution_tracking/__init__.py
  src/execution_tracking/redis_execution_tracker.py
  src/spec_framework/cli/prepare_spec_cli.py
  src/spec_framework/core/spec_analyzer.py
  src/spec_framework/generators/task_script_generator.py
  src/spec_framework/orchestrators/dag_task_generator.py
  src/spec_framework/validation/prelaunch_validator.py
Due: mdformat

🔄 RECURSIVE META-PROGRAMMING ACHIEVED: Implement RecursiveOrchestrator
  .kiro/specs/recursive-dag-orchestrated-spec-execution/design.md
  .kiro/specs/recursive-dag-orchestrated-spec-execution/requirements.md
  .kiro/specs/recursive-dag-orchestrated-spec-execution/tasks.md
  src/recursive_dag_orchestration/__init__.py
  src/recursive_dag_orchestration/core/__init__.py
  src/recursive_dag_orchestration/core/recursion_context.py
  src/recursive_dag_orchestration/core/recursive_orchestrator.py
  test_recursive_orchestrator.py
Due: mdformat

📋 Update system architecture wiring diagram tasks
  .kiro/specs/system-architecture-wiring-diagram/tasks.md
Due: mdformat

feat: Implement Task 7 Performance and Reliability Optimization
  .kiro/specs/atomic-spec-execution-pattern/tasks.md
  TASK_7_PERFORMANCE_OPTIMIZATION_SUMMARY.md
  demo_performance_optimizations.py
  src/spec_framework/cli/prepare_spec_cli.py
  src/spec_framework/core/spec_analyzer.py
  src/spec_framework/orchestrators/dag_task_generator.py
  src/spec_framework/performance/__init__.py
  src/spec_framework/performance/performance_optimizer.py
  test_performance_optimizations.py
Due: mdformat

Update live dashboard engagement system design document
  .kiro/specs/live-dashboard-engagement-system/EXECUTION_ISSUES_LOG.md
  .kiro/specs/live-dashboard-engagement-system/design.md
  .kiro/specs/live-dashboard-engagement-system/requirements.md
  .kiro/specs/live-dashboard-engagement-system/tasks.md
Due: mdformat

feat: Implement Executable Patch Code Governance with Technical Debt Integration
  .kiro/specs/executable-patch-code-governance/design.md
  .kiro/specs/executable-patch-code-governance/requirements.md
  .kiro/specs/executable-patch-code-governance/tasks.md
  .kiro/specs/live-dashboard-engagement-system/requirements.md
  .kiro/steering/executable-patch-code-governance.md
  scripts/demo_annotated_patch_generation.py
  scripts/fix_execution_mode_support.py
  scripts/live-dashboard-engagement-system/live_dashboard_engagement_system_launch_v2.py
  src/spec_framework/generators/task_script_generator.py
Due: mdformat

Add beast mode DAG visualization and execution report documentation
  beast_mode_dag_visualization.md
  beast_mode_execution_report.md
Due: mdformat

Update VSCode settings configuration
  .vscode/settings.json
Due: json-validate

feat: Complete DAG orchestration infrastructure components
  .kiro/specs/dag-orchestrated-parallel-execution/tasks.md
  TASK_15_5_COMPLETION_SUMMARY.md
  scripts/validate_infrastructure_components.py
  src/dag_orchestration/analytics/__init__.py
  src/dag_orchestration/analytics/cost_optimizer.py
  src/dag_orchestration/analytics/dag_optimizer.py
  src/dag_orchestration/analytics/dag_structure_optimizer.py
  src/dag_orchestration/analytics/execution_analyzer.py
  src/dag_orchestration/analytics/execution_pattern_analyzer.py
  src/dag_orchestration/configuration/__init__.py
  src/dag_orchestration/configuration/configuration_manager.py
  src/dag_orchestration/configuration/environment_templates.py
  src/dag_orchestration/configuration/execution_strategy_config.py
  src/dag_orchestration/configuration/llm_selection_policies.py
  src/dag_orchestration/configuration/monitoring_config.py
  src/dag_orchestration/optimization/resource_predictor.py
  src/dag_orchestration/patterns/__init__.py
  src/dag_orchestration/patterns/adaptive_scheduler.py
  src/dag_orchestration/patterns/conditional_execution.py
  src/dag_orchestration/patterns/dynamic_dag_modifier.py
  src/dag_orchestration/patterns/intelligent_batching.py
  src/dag_orchestration/patterns/map_reduce_pattern.py
  src/dag_orchestration/patterns/nested_dag_executor.py
  src/dag_orchestration/scheduling/ml_scheduler.py
  tests/integration/test_dag_orchestration_infrastructure_components.py
Due: mdformat

feat: Add DAG structure optimization and resource analysis capabilities
  .kiro/settings/mcp.json
  src/dag_orchestration/analytics/dag_structure_optimizer.py
  src/dag_orchestration/analytics/resource_utilization_analyzer.py
Due: json-validate

feat(dag-orchestration): Add advanced analytics components
  src/dag_orchestration/analytics/cost_optimization_analyzer.py
  src/dag_orchestration/analytics/performance_regression_detector.py
  src/dag_orchestration/analytics/resource_utilization_analyzer.py
Due: none

feat: Complete Node B Management System implementation
  .kiro/settings/mcp.json
  .kiro/specs/node-b-management/design.md
  .kiro/specs/node-b-management/requirements.md
  .kiro/specs/node-b-management/tasks.md
  TASK_2_2_COMPLETION_SUMMARY.md
  TASK_4_COMPLETION_SUMMARY.md
  TASK_5_COMPLETION_SUMMARY.md
  TASK_6_COMPLETION_SUMMARY.md
  examples/node_b_basic_usage.py
  src/node_b_management/IMPLEMENTATION_SUMMARY.md
  src/node_b_management/README.md
  src/node_b_management/__init__.py
  src/node_b_management/coordination/__init__.py
  src/node_b_management/core/__init__.py
  src/node_b_management/core/interfaces.py
  src/node_b_management/core/node_b_component.py
  src/node_b_management/core/redis_connection_manager.py
  src/node_b_management/health/__init__.py
  src/node_b_management/health/diagnostic_reporting_system.py
  src/node_b_management/health/health_monitoring_coordinator.py
  src/node_b_management/health/integrated_health_system.py
  src/node_b_management/lifecycle/__init__.py
  src/node_b_management/lifecycle/node_b_configuration.py
  src/node_b_management/lifecycle/node_lifecycle_manager.py
  src/node_b_management/network/__init__.py
  src/node_b_management/network/network_communication_coordinator.py
  src/node_b_management/network/network_topology_manager.py
  src/node_b_management/security/__init__.py
  src/node_b_management/security/security_configuration_manager.py
  src/node_b_management/security/security_monitoring_coordinator.py
  test_network_communication_implementation.py
  test_security_implementation.py
Due: json-validate, mdformat

feat: Implement comprehensive DAG analytics and cost optimization system
  .kiro/specs/dag-orchestrated-parallel-execution/tasks.md
  scripts/demo_analytics_system.py
  src/dag_orchestration/analytics/__init__.py
  src/dag_orchestration/analytics/analytics_orchestrator.py
  src/dag_orchestration/analytics/cost_optimization_analyzer.py
  src/dag_orchestration/patterns/dynamic_dag_modifier.py
  tests/unit/dag_orchestration/analytics/test_analytics_orchestrator.py
Due: mdformat

fix: Repair comprehensive test orchestration system and update requirements
  .kiro/specs/comprehensive-makefile-system/requirements.md
  .kiro/specs/dag-orchestrated-parallel-execution/tasks.md
  scripts/fix_orchestration_indentation.py
  scripts/fix_orchestration_syntax_error.py
  scripts/orchestrate_makefile_unit_tests.py
  scripts/orchestrate_makefile_unit_tests.py.broken
  scripts/run_makefile_test_orchestration.py
  scripts/test_makefile_system.py
Due: mdformat

feat: Complete Phase 3 UML Diagram Generation Engine
  .kiro/specs/system-architecture-wiring-diagram/tasks.md
  PHASE3_COMPLETION_SUMMARY.md
  prompts/completed/execute-phase-3-uml-diagram-generation.md
  src/system_architecture/generation/diagram_generator.py
  src/system_architecture/generation/network_visualizer.py
  src/system_architecture/generation/phase3_integration_test.py
  src/system_architecture/generation/realtime_updater.py
  src/system_architecture/generation/sequence_generator.py
Due: mdformat

Final Phase 3 updates: Additional operational workflows and use case documentation
  deployment/observatory/grafana-data/grafana.db
  deployment/observatory/prometheus-data/01K6NG8FEBM8S41CXXSQKPZWS2/chunks/000001
  deployment/observatory/prometheus-data/01K6NG8FEBM8S41CXXSQKPZWS2/index
  deployment/observatory/prometheus-data/01K6NG8FEBM8S41CXXSQKPZWS2/tombstones
  deployment/observatory/prometheus-data/01K6NG8H2HWS4PGZCNVCR7BB8W.tmp-for-creation/index
  deployment/observatory/prometheus-data/chunks_head/000009
  deployment/observatory/prometheus-data/wal/00000009
  deployment/observatory/prometheus-data/wal/00000010
  deployment/observatory/prometheus-data/wal/checkpoint.00000007/00000000
  docs/operational-workflows/anomaly-detection-flow.md
  docs/operational-workflows/reflective-module-health-checks.md
  docs/operational-workflows/websocket-connection-management.md
  docs/use-cases/critical-workflows-guide.md
Due: mdformat

Final system state: Live metrics data and troubleshooting documentation
  deployment/observatory/grafana-data/grafana.db
  deployment/observatory/prometheus-data/01K6MMSDGMT31NJYM1ZJ66QM9M/chunks/000001
  deployment/observatory/prometheus-data/01K6MMSDGMT31NJYM1ZJ66QM9M/index
  deployment/observatory/prometheus-data/01K6MX565VKSTXMFCJ515KRFVG/chunks/000001
  deployment/observatory/prometheus-data/01K6MX565VKSTXMFCJ515KRFVG/index
  deployment/observatory/prometheus-data/01K6MX565VKSTXMFCJ515KRFVG/tombstones
  deployment/observatory/prometheus-data/01K6N2GYMWJMX5K53MYY62ZH0J/chunks/000001
  deployment/observatory/prometheus-data/01K6N2GYMWJMX5K53MYY62ZH0J/index
  deployment/observatory/prometheus-data/01K6N2GYMWJMX5K53MYY62ZH0J/tombstones
  deployment/observatory/prometheus-data/01K6NG8H2HWS4PGZCNVCR7BB8W.tmp-for-creation/index
  deployment/observatory/prometheus-data/01K6NG8H2HWS4PGZCNVCR7BB8W/chunks/000001
  deployment/observatory/prometheus-data/01K6NG8H2HWS4PGZCNVCR7BB8W/index
  deployment/observatory/prometheus-data/01K6NG8H2HWS4PGZCNVCR7BB8W/tombstones
  deployment/observatory/prometheus-data/wal/00000006
  deployment/observatory/prometheus-data/wal/00000007
  deployment/observatory/prometheus-data/wal/00000010
  deployment/observatory/prometheus-data/wal/checkpoint.00000005/00000000
  docs/troubleshooting/error-codes-and-recovery.md
Due: mdformat

feat: Complete MCP filesystem server fix and comprehensive documentation
  .kiro/settings/mcp.json
  MCP_FILESYSTEM_SERVER_FIX_SUMMARY.md
  docs/disaster-recovery/recovery-procedures-and-runbooks.md
  docs/operational-workflows/emergency-protocol-integration.md
  docs/operational-workflows/reflective-module-health-checks.md
  docs/security/authentication-and-access-control.md
  docs/troubleshooting/error-codes-and-recovery.md
  docs/troubleshooting/error-propagation-paths.md
  docs/troubleshooting/mcp-filesystem-server-issues.md
  docs/troubleshooting/websocket-connection-failures.md
  docs/use-cases/critical-workflows.md
  docs/use-cases/maintenance-procedures.md
  docs/use-cases/makefile-target-execution-guide.md
  mcp-filesystem-config.toml
  scripts/fix_mcp_filesystem_logging.py
  scripts/test_mcp_filesystem_operations.py
Due: json-validate, mdformat

feat: Add tunnel connectivity diagnostics and update monitoring data
  .kiro/.DS_Store
  deployment/observatory/grafana-data/grafana.db
  deployment/observatory/prometheus-data/chunks_head/000010
  deployment/observatory/prometheus-data/chunks_head/000011
  deployment/observatory/prometheus-data/wal/00000010
  docs/troubleshooting/tunnel-connectivity-diagnostics.md
  docs/troubleshooting/websocket-connection-failures.md
Due: mdformat

Add comprehensive deployment analysis and findings document
  deployment/DEPLOYMENT_ANALYSIS_FINDINGS.md
Due: mdformat

fix: Add .gitignore patterns for volatile deployment data
  .gitignore
Due: none

🚨 EMERGENCY: Fix deployment data governance - migrate to Docker volumes
  .gitignore
  deployment/observatory/docker-compose.yml
Due: none

🐺 SERVICE AUTO-START GOVERNANCE: Complete Phase 1-3 Implementation
  .kiro/specs/service-auto-start-governance/.spec-state
  .kiro/specs/service-auto-start-governance/DAG_EXECUTION_PLAN.md
  .kiro/specs/service-auto-start-governance/README.md
  .kiro/specs/service-auto-start-governance/design.md
  .kiro/specs/service-auto-start-governance/requirements.md
  .kiro/specs/service-auto-start-governance/tasks.md
  Makefile.services
  scripts/validate_service_auto_start_dag.py
  src/service_auto_start/.DS_Store
  src/service_auto_start/__init__.py
  src/service_auto_start/cli/__init__.py
  src/service_auto_start/cli/commands.py
  src/service_auto_start/core/__init__.py
  src/service_auto_start/core/service_auto_starter.py
  src/service_auto_start/health/__init__.py
  src/service_auto_start/health/health_check_validator.py
  src/service_auto_start/platforms/__init__.py
  src/service_auto_start/platforms/docker_adapter.py
  src/service_auto_start/platforms/linux_adapter.py
  src/service_auto_start/platforms/macos_adapter.py
  src/service_auto_start/registry/__init__.py
  src/service_auto_start/registry/service_registry.py
  src/service_auto_start/services/__init__.py
  src/service_auto_start/services/directus_service.py
  src/service_auto_start/services/monitoring_service.py
  src/service_auto_start/services/observatory_service.py
  src/service_auto_start/services/service_registrar.py
  src/service_auto_start/tools/__init__.py
  src/service_auto_start/tools/container_tool_detector.py
  src/service_auto_start/types/__init__.py
  src/service_auto_start/types/enums.py
  src/service_auto_start/types/models.py
  tests/unit/service_auto_start/__init__.py
  tests/unit/service_auto_start/test_service_auto_starter.py
Due: mdformat

📋 Add Service Auto-Start Governance Implementation Summary
  SERVICE_AUTOSTART_GOVERNANCE_IMPLEMENTATION_COMPLETE.md
Due: mdformat
