Repository nkllon/kiro-ai-development-hackathon: changes, and which pre-commit hooks are due for each by the changed paths.
All: json-validate, mdformat

json-validate:
  name: JSON Validation
  entry: jq .
  language: system
  description: Validate JSON syntax

mdformat:
  name: Markdown Format
  entry: uv run mdformat
  language: system
  description: Format markdown files for consistency

feat: Create fast test execution spec and fix test performance issues
  .kiro/specs/fast-test-execution/design.md
  .kiro/specs/fast-test-execution/requirements.md
  .kiro/specs/fast-test-execution/tasks.md
  pyproject.toml
  src/hackathon_demo_framework/validation/functionality_validator.py
  src/hackathon_demo_framework/validation/installation_validator.py
  tests/test_hackathon_controller.py
  tests/test_hackathon_functionality_validator.py
  tests/test_hackathon_integration.py
  tests/test_hackathon_models.py
  tests/test_hackathon_presentation_components.py
  tests/test_hackathon_validation_components.py
Due: mdformat

Add Hackathon Demo Showcase spec
  .kiro/specs/hackathon-demo-showcase/design.md
  .kiro/specs/hackathon-demo-showcase/requirements.md
  .kiro/specs/hackathon-demo-showcase/tasks.md
Due: mdformat

feat: implement RC0 competitive launch strategy system
  src/competitive_launch/README.md
  src/competitive_launch/__init__.py
  src/competitive_launch/cli.py
  src/competitive_launch/command_center.py
  src/competitive_launch/deadline_manager.py
  src/competitive_launch/intelligence_engine.py
  src/competitive_launch/models.py
  src/competitive_launch/platform_orchestrators.py
  tests/test_competitive_launch.py
Due: mdformat

docs: complete merge plan execution with final results
  MERGE_PLAN_ANALYSIS.md
Due: mdformat

feat: Complete DevPost integration implementation (86.7%)
  .kiro/specs/competitive-launch-strategy/tasks.md
  DEVPOST_INTEGRATION_FINAL_STATUS_REPORT.md
  DEVPOST_INTEGRATION_IMPLEMENTATION_PLAN.md
  DEVPOST_INTEGRATION_STATUS_REPORT.md
  HACKATHON_DRAFT_SUBMISSION.md
  HACKATHON_SUBMISSION_READY.md
  HACKATHON_SUBMISSION_SUMMARY.md
  JUDGE_INSTRUCTIONS.md
  demo_hackathon_enhanced.py
  devpost_progress_tracker.py
  docs/rms/test_rm/requirements.md
  hackathon_video_script.md
  metrics_data/gke_velocity_measurements.jsonl
  patterns/rca_patterns.json
  patterns/test_pattern_learning.json
  patterns/test_specific_patterns.json
  prepare_devpost_submission.py
  preview.html
  pyproject.toml
  src/beast_mode/integration/devpost/auth/auth_service.py
  src/beast_mode/integration/devpost/exceptions.py
  src/beast_mode/messaging/redis_transport.py
  src/competitive_launch/command_center.py
  src/competitive_launch/deadline_manager.py
  src/competitive_launch/intelligence_engine.py
  src/devpost_integration/api_client.py
  src/devpost_integration/config.py
  src/devpost_integration/deadline_tracker.py
  src/devpost_integration/models.py
  src/devpost_integration/preview_generator.py
  src/devpost_integration/project_manager.py
  src/devpost_integration/sync_manager.py
  src/devpost_integration/validation_engine.py
  tests/integration/test_comprehensive_beast_mode_integration.py
  tests/test_competitive_launch.py
  tests/test_devpost_preview_generator.py
  uv.lock
Due: json-validate, mdformat

feat: Complete DevPost integration with systematic RDI/RCA approach (93.3%)
  .kiro/specs/competitive-launch-strategy/tasks.md
  DEVPOST_INTEGRATION_RDI_RCA_SUCCESS_REPORT.md
  src/devpost_integration/preview_generator.py
  src/devpost_integration/project_manager.py
  tests/integration/test_devpost_integration_e2e.py
Due: mdformat

feat: Complete DevPost integration with 100% success (15/15 tasks)
  .kiro/specs/competitive-launch-strategy/tasks.md
  demo_devpost_integration.py
  demo_preview.html
  src/beast_mode/integration/devpost/auth/__init__.py
Due: mdformat

feat: Update competitive launch strategy plan - Phase 1.5 complete, Phase 2 ready
  .kiro/specs/competitive-launch-strategy/tasks.md
Due: mdformat

feat: Complete Phase 2 Competitive Intelligence & Response (100% success)
  .kiro/specs/competitive-launch-strategy/tasks.md
  demo_competitive_intelligence.py
  pyproject.toml
  src/competitive_launch/deadline_management.py
  src/competitive_launch/real_time_monitor.py
  src/competitive_launch/response_automation.py
  uv.lock
Due: mdformat

feat: Update competitive launch strategy - Phase 2 complete, Phase 3 ready
  .kiro/specs/competitive-launch-strategy/tasks.md
Due: mdformat

feat: Complete Phase 3 Systematic Superiority Demonstration (100% success)
  .kiro/specs/competitive-launch-strategy/tasks.md
  demo_phase3_superiority.py
  src/competitive_launch/superiority_engine.py
Due: mdformat

feat: Update competitive launch strategy - Phase 3 complete, Phase 4 ready
  .kiro/specs/competitive-launch-strategy/tasks.md
Due: mdformat

feat: Complete Phase 4 Market Launch Preparation (100% success)
  .kiro/specs/competitive-launch-strategy/tasks.md
  demo_phase4_launch_preparation.py
  src/competitive_launch/failure_recovery.py
Due: mdformat

feat: Update competitive launch strategy - Phase 4 complete, Phase 5 ready
  .kiro/specs/competitive-launch-strategy/tasks.md
Due: mdformat

feat: Complete Phase 5 Launch Execution & Monitoring (100% success)
  .kiro/specs/competitive-launch-strategy/tasks.md
  demo_phase5_launch_execution.py
  src/competitive_launch/launch_execution.py
Due: mdformat

RM-DDD Phase 2: Continue RM Interface Implementation
  src/devpost_integration/auth_service.py
  src/devpost_integration/git_integration.py
  src/devpost_integration/media_detector.py
Due: none

Beast Mode PDCA Iteration 2: RM-DDD Implementation
  src/devpost_integration/core_validation_rules.py
  src/devpost_integration/format_validation_rules.py
  src/devpost_integration/validation_rules.py
  src/devpost_integration/validation_rules_extended.py
Due: none

Beast Mode RM Interface Implementation: 0/59 -> Target achieved
  beast_mode_rm_implementation_report.txt
  beast_mode_rm_interface_report.txt
  scripts/beast_mode_rm_interface.py
Due: none

Beast Mode Health Monitoring Implementation: 0/59 -> Target achieved
  beast_mode_health_monitoring_report.txt
  scripts/beast_mode_health_monitoring.py
  scripts/beast_mode_health_monitoring_simple.py
Due: none

Beast Mode Registry Integration Implementation: 0/59 -> Target achieved
  beast_mode_registry_integration_report.txt
  scripts/beast_mode_registry_integration.py
  src/devpost_integration/auth_models.py
  src/devpost_integration/config.py
  src/devpost_integration/deadline_models.py
  src/devpost_integration/validation_models.py
Due: none

Beast Mode 15-Minute Scale: Complete RM-DDD compliance achievement
  beast_mode_15min_scale_report.txt
  scripts/beast_mode_15min_scale.py
  src/devpost_integration/api_client.py
  src/devpost_integration/api_client_methods.py
  src/devpost_integration/cli_main.py
  src/devpost_integration/cli_main_methods.py
  src/devpost_integration/file_watcher_core.py
  src/devpost_integration/file_watcher_core_methods.py
  src/devpost_integration/notification_manager.py
  src/devpost_integration/notification_manager_methods.py
  src/devpost_integration/preview_generator.py
  src/devpost_integration/preview_generator_methods.py
  src/devpost_integration/project_manager.py
  src/devpost_integration/project_manager_methods.py
  src/devpost_integration/validation_engine.py
  src/devpost_integration/validation_engine_methods.py
Due: none

RM-DDD Progress: Fixed assessment tool, enhanced RM interface compliance to 84.8%
  scripts/beast_mode_health_monitoring_final.py
  scripts/rm_ddd_assessment.py
  src/devpost_integration/api_client.py
  src/devpost_integration/api_client_methods.py
  src/devpost_integration/cli_main.py
  src/devpost_integration/cli_main_methods.py
  src/devpost_integration/file_watcher_core.py
  src/devpost_integration/file_watcher_core_methods.py
  src/devpost_integration/notification_manager.py
  src/devpost_integration/notification_manager_methods.py
  src/devpost_integration/preview_generator.py
  src/devpost_integration/preview_generator_methods.py
  src/devpost_integration/project_manager.py
  src/devpost_integration/project_manager_methods.py
  src/devpost_integration/sync_manager.py
  src/devpost_integration/validation_engine.py
  src/devpost_integration/validation_engine_methods.py
Due: none

RM-DDD BREAKTHROUGH: RM Interface 87.9%, Health Monitoring 89.4%
  scripts/complete_rm_interface_beast.py
  scripts/identify_rm_interface_gaps.py
  src/devpost_integration/api_client_methods.py
  src/devpost_integration/validation_engine_methods.py
Due: none

RM-DDD SPEC UPDATES: Incorporated Lessons Learned into Requirements
  RM_DDD_CRITICAL_REQUIREMENTS_LESSONS_LEARNED.md
  RM_DDD_IMPLEMENTATION_GUIDE_LESSONS_LEARNED.md
  RM_DDD_SPECIFICATION_V2_LESSONS_LEARNED.md
Due: mdformat

feat: Add comprehensive logging, profiling, and browser automation requirements
  .kiro/specs/devpost-hackathon-integration/browser_automation_analysis.md
  .kiro/specs/devpost-hackathon-integration/design_backpropagated.md
  .kiro/specs/devpost-hackathon-integration/requirements_backpropagated.md
Due: mdformat

feat: Complete requirements and design updates with logging/profiling priority
  .kiro/specs/devpost-hackathon-integration/design_fixed.md
  .kiro/specs/devpost-hackathon-integration/requirements_fixed.md
  .kiro/specs/devpost-hackathon-integration/tasks_fixed.md
  src/devpost_integration/__init__.py
  src/devpost_integration/auth_models.py
  src/devpost_integration/auth_service.py
  src/devpost_integration/auth_session_manager.py
  src/devpost_integration/preview_generator_methods.py
Due: mdformat

feat: Implement comprehensive logging, profiling, and debugging infrastructure
  src/devpost_integration/__init__.py
  src/devpost_integration/debugging_engine.py
  src/devpost_integration/logging_infrastructure.py
  src/devpost_integration/performance_profiler.py
  src/devpost_integration/reflective_module.py
  test_logging_profiling.py
Due: none

PDCA Iteration 1: Compliance 93.7% → 92.9%
  scripts/beast_mode_final_compliance.py
  scripts/implement_health_monitoring.py
  scripts/implement_remaining_rm_interfaces.py
  scripts/rm_ddd_assessment.py
  src/devpost_integration/api_client_methods.py
  src/devpost_integration/logging_infrastructure.py
  src/devpost_integration/reflective_module.py
  src/devpost_integration/validation_engine_methods.py
  src/devpost_integration/validation_engine_methods___init__.py
Due: none

PDCA Phase 6: Final push to 93.2% compliance
  scripts/fix_rm_interfaces_final.py
  scripts/pdca_phase_6_final_push.py
  scripts/pdca_phase_6_simple.py
  scripts/targeted_size_refactoring.py
  src/devpost_integration/auth_models.py
  src/devpost_integration/auth_models_methods.py
  src/devpost_integration/cli_main_methods.py
  src/devpost_integration/config.py
  src/devpost_integration/config_methods.py
  src/devpost_integration/deadline_models.py
  src/devpost_integration/deadline_models_methods.py
  src/devpost_integration/debugging_engine.py
  src/devpost_integration/debugging_engine_methods.py
  src/devpost_integration/file_watcher_core_methods.py
  src/devpost_integration/git_integration.py
  src/devpost_integration/git_integration_methods.py
  src/devpost_integration/logging_infrastructure.py
  src/devpost_integration/logging_infrastructure_methods.py
  src/devpost_integration/performance_profiler.py
  src/devpost_integration/performance_profiler_methods.py
  src/devpost_integration/preview_generator_methods.py
  src/devpost_integration/reflective_module.py
  src/devpost_integration/reflective_module_methods.py
  src/devpost_integration/validation_engine_methods.py
  src/devpost_integration/validation_models.py
  src/devpost_integration/validation_models_methods.py
Due: none

fix: Resolve circular imports and add missing classes
  COMPREHENSIVE_STATUS_REPORT.md
  src/devpost_integration/auth_models.py
  src/devpost_integration/auth_models_methods.py
  src/devpost_integration/cli_main_methods.py
  src/devpost_integration/config.py
  src/devpost_integration/config_methods.py
  src/devpost_integration/deadline_tracker.py
  src/devpost_integration/debugging_engine.py
  src/devpost_integration/debugging_engine_methods.py
  src/devpost_integration/file_watcher_core_methods.py
  src/devpost_integration/logging_infrastructure.py
  src/devpost_integration/logging_infrastructure_methods.py
  src/devpost_integration/performance_profiler.py
  src/devpost_integration/performance_profiler_methods.py
  src/devpost_integration/preview_generator_methods.py
  src/devpost_integration/reflective_module.py
  src/devpost_integration/reflective_module_methods.py
  src/devpost_integration/validation_engine_methods.py
Due: mdformat

feat: Add remaining 5 missing classes for test suite functionality
  FINAL_STATUS_REPORT.md
  src/devpost_integration/file_monitor.py
  src/devpost_integration/models.py
  src/devpost_integration/notification_manager.py
  src/devpost_integration/notification_manager_methods.py
  src/devpost_integration/preview_generator.py
  src/devpost_integration/preview_generator_methods.py
  src/devpost_integration/validation_engine_methods.py
Due: mdformat

feat: Complete all 11 missing classes for test suite functionality
  src/devpost_integration/file_monitor.py
  src/devpost_integration/models.py
Due: none

docs: Complete RDI analysis and update requirements/design specifications
  docs/design/devpost_integration_design.md
  docs/requirements/devpost_integration_requirements.md
Due: mdformat

status: Update comprehensive status report after RDI analysis
  CURRENT_STATUS_REPORT.md
Due: mdformat

Path conditions:
  json-validate: any of: \.json$, but not: (?x)^(
    \.git/|
    \.venv/|
    __pycache__/|
    \.mypy_cache/|
    dist/|
    build/|
    \.eggs/|
    \.tox/|
    \.pytest_cache/|
    \.coverage|
    \.ruff_cache|
    \.bandit|
    \.safety|
    \.semgrep|
    \.gitleaks|
    \.trivy|
    .*-report\.json|
    \.secrets\.baseline
)$

  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^(
    \.git/|
    \.venv/|
    __pycache__/|
    \.mypy_cache/|
    dist/|
    build/|
    \.eggs/|
    \.tox/|
    \.pytest_cache/|
    \.coverage|
    \.ruff_cache|
    \.bandit|
    \.safety|
    \.semgrep|
    \.gitleaks|
    \.trivy|
    .*-report\.json|
    \.secrets\.baseline
)$

