Repository nkllon/kiro-ai-development-hackathon: changes, and which pre-commit hooks are due for each by the changed paths.
All: json-validate, mdformat

json-validate:
  name: JSON Validation
  entry: jq .
  language: system
  description: Validate JSON syntax

mdformat:
  name: Markdown Format
  entry: uv run mdformat
  language: system
  description: Format markdown files for consistency

feat: Add Beast Mode Framework spec with comprehensive PDCA, RCA, and RM compliance
  .kiro/specs/beast-mode-framework/design.md
  .kiro/specs/beast-mode-framework/requirements.md
  .kiro/specs/beast-mode-framework/tasks.md
Due: mdformat

feat: Update Beast Mode Framework design to trace directly to concrete requirements
  .kiro/specs/beast-mode-framework/design.md
Due: mdformat

feat: Update Beast Mode Framework with requirements traceability
  .kiro/specs/beast-mode-framework/requirements.md
Due: mdformat

feat: Add comprehensive derived requirements and design justification
  .kiro/specs/beast-mode-framework/design.md
  .kiro/specs/beast-mode-framework/requirements.md
Due: mdformat

feat: Add comprehensive stakeholder personas to requirements
  .kiro/specs/beast-mode-framework/requirements.md
Due: mdformat

feat: Integrate stakeholder personas into Ghostbusters multi-perspective analysis
  .kiro/specs/beast-mode-framework/design.md
Due: mdformat

Task 14: Implement Tool Orchestration with Decision Framework (UC-03)
  .kiro/specs/beast-mode-framework/task15-pdca-plan.md
  .kiro/specs/beast-mode-framework/tasks.md
  examples/task15_advanced_integration_demo.py
  examples/tool_orchestration_demo.py
  src/beast_mode/documentation/__init__.py
  src/beast_mode/documentation/adr_system.py
  src/beast_mode/observability/enhanced_observability_manager.py
  src/beast_mode/orchestration/__init__.py
  src/beast_mode/orchestration/tool_orchestration_engine.py
  src/beast_mode/quality/__init__.py
  src/beast_mode/resilience/__init__.py
  src/beast_mode/resilience/graceful_degradation_manager.py
  tests/test_tool_orchestration_engine.py
Due: mdformat

Task 16: Infrastructure Integration and Self-Consistency Validation (UC-25)
  .cursor/rules/beast-mode-integration.mdc
  .kiro/specs/beast-mode-framework/tasks.md
  Makefile
  examples/task16_infrastructure_integration_demo.py
  makefiles/beast-mode.mk
  src/beast_mode/integration/__init__.py
  src/beast_mode/integration/infrastructure_integration_manager.py
  src/beast_mode/integration/self_consistency_validator.py
  tests/test_integration_components.py
Due: mdformat

Task 17: Operational Interfaces + Marketing Vision Package
  .kiro/specs/beast-mode-framework/tasks.md
  BEAST_MODE_VISION.md
  MARKETING_ONE_PAGER.md
  PITCH_DECK_SUMMARY.md
  beast_mode_cli.py
  examples/task17_operational_interfaces_demo.py
  src/beast_mode/cli/__init__.py
  src/beast_mode/cli/beast_mode_cli.py
  src/beast_mode/operations/__init__.py
  src/beast_mode/operations/comprehensive_logging_system.py
  src/beast_mode/operations/operational_dashboard_manager.py
  tests/test_task17_components.py
Due: mdformat

feat: implement operator-safe RM-RDI analysis framework
  .kiro/specs/rm-rdi-analysis-system/design.md
  .kiro/specs/rm-rdi-analysis-system/operator-safety.md
  .kiro/specs/rm-rdi-analysis-system/pdca-plan.md
  .kiro/specs/rm-rdi-analysis-system/requirements.md
  .kiro/specs/rm-rdi-analysis-system/tasks.md
  Makefile
  RDI_IMPLEMENTATION_SPORE.md
  RM_IMPLEMENTATION_SPORE.md
  RM_RDI_IMPLEMENTATION_PROMPT.md
  makefiles/analysis.mk
  scripts/analysis_control.py
  src/beast_mode/analysis/rm_rdi/__init__.py
  src/beast_mode/analysis/rm_rdi/base.py
  src/beast_mode/analysis/rm_rdi/data_models.py
  src/beast_mode/analysis/rm_rdi/safety.py
  src/beast_mode/core/reflective_module.py
  src/beast_mode/documentation/__init__.py
  src/beast_mode/documentation/document_management_rm.py
  tests/test_analysis_safety.py
  tests/test_document_management_rm.py
  tests/test_rm_rdi_analysis_basic.py
Due: mdformat

feat: implement AnalysisOrchestratorRM with operator safety
  .kiro/specs/rm-rdi-analysis-system/tasks.md
  src/beast_mode/analysis/rm_rdi/data_models.py
  src/beast_mode/analysis/rm_rdi/orchestrator.py
  src/beast_mode/analysis/rm_rdi/safety.py
  src/beast_mode/analysis/rm_rdi/workflow.py
  src/beast_mode/core/reflective_module.py
  tests/test_analysis_orchestrator.py
Due: mdformat

Update task list with branch assignments
  .kiro/specs/domain-index-model-system/tasks.md
Due: mdformat

Update task specifications and sync preparation
  .kiro/specs/domain-index-model-system/tasks.md
Due: mdformat

Add Topological Branch Sync procedure documentation
  docs/procedures/topological-branch-sync.md
Due: mdformat

Add Launch Control Checklist for multi-agent deployment
  docs/launch-control-checklist.md
Due: mdformat

Complete Task 4.3: Health Reporting and Alerting System
  .kiro/specs/domain-index-model-system/tasks.md
  .vscode/settings.json
  src/beast_mode/domain_index/dependency_analyzer.py
  src/beast_mode/domain_index/domain_cache.py
  src/beast_mode/domain_index/health_monitor.py
  src/beast_mode/domain_index/health_reporter.py
  tests/test_advanced_query_engine.py
  tests/test_dependency_analyzer.py
  tests/test_health_reporter.py
Due: json-validate, mdformat

Complete Phase 2: Domain Registry Manager - Indexing, Caching, and Validation Systems
  .kiro/specs/domain-index-model-system/tasks.md
  .vscode/settings.json
  src/beast_mode/domain_index/__init__.py
  src/beast_mode/domain_index/domain_cache.py
  src/beast_mode/domain_index/domain_index.py
  src/beast_mode/domain_index/domain_validator.py
  src/beast_mode/domain_index/registry_manager.py
  tests/unit/domain_index/test_domain_cache.py
  tests/unit/domain_index/test_domain_index.py
  tests/unit/domain_index/test_domain_validator.py
  tests/unit/domain_index/test_registry_manager_enhanced.py
  tests/unit/domain_index/test_registry_manager_validation.py
Due: json-validate, mdformat

Complete Phase 2: Query Engine Enhancements - Advanced Query Capabilities
  .kiro/specs/domain-index-model-system/tasks.md
  .vscode/settings.json
  src/beast_mode/domain_index/query_engine.py
  tests/unit/domain_index/test_query_engine.py
Due: json-validate, mdformat

Complete Phase 2: Health Monitoring - Dependency Analysis and Reporting
  tests/test_dependency_analyzer.py
Due: none

Add Phase 2 lessons learned documentation
  docs/phase-2-lessons-learned.md
Due: mdformat

feat: implement RDI-RM compliance check system
  .kiro/specs/rdi-rm-compliance-check/tasks.md
  TASK_2_2_IMPLEMENTATION_SUMMARY.md
  src/beast_mode/compliance/git/__pycache__/file_change_detector.cpython-311.pyc
  src/beast_mode/compliance/git/file_change_detector.py
  src/beast_mode/compliance/rdi/requirement_tracer.py
  tests/__pycache__/test_file_change_detector.cpython-311-pytest-8.4.2.pyc
  tests/test_file_change_detector.py
Due: mdformat

feat: enhance RM architectural validation with comprehensive pattern detection
  .kiro/specs/ghostbusters-cli-integration/design.md
  .kiro/specs/ghostbusters-cli-integration/requirements.md
  .kiro/specs/ghostbusters-cli-integration/tasks.md
  .kiro/specs/kiro-hot-swap-architecture/design.md
  .kiro/specs/kiro-hot-swap-architecture/requirements.md
  .kiro/specs/kiro-hot-swap-architecture/tasks.md
  .kiro/specs/rdi-rm-compliance-check/tasks.md
  examples/enhanced_rm_validator_demo.py
  examples/rm_validator_demo.py
  src/beast_mode/compliance/__pycache__/orchestrator.cpython-311.pyc
  src/beast_mode/compliance/orchestrator.py
  src/beast_mode/compliance/rdi/__init__.py
  src/beast_mode/compliance/rdi/__pycache__/__init__.cpython-311.pyc
  src/beast_mode/compliance/rdi/__pycache__/design_validator.cpython-311.pyc
  src/beast_mode/compliance/rdi/__pycache__/requirement_tracer.cpython-311.pyc
  src/beast_mode/compliance/rdi/__pycache__/test_coverage_validator.cpython-311-pytest-8.4.2.pyc
  src/beast_mode/compliance/rdi/__pycache__/test_coverage_validator.cpython-311.pyc
  src/beast_mode/compliance/rdi/design_validator.py
  src/beast_mode/compliance/rdi/requirement_tracer.py
  src/beast_mode/compliance/rdi/test_coverage_validator.py
  src/beast_mode/compliance/rm/__init__.py
  src/beast_mode/compliance/rm/__pycache__/__init__.cpython-311.pyc
  src/beast_mode/compliance/rm/__pycache__/rm_validator.cpython-311.pyc
  src/beast_mode/compliance/rm/rm_validator.py
  tests/__pycache__/test_design_validator.cpython-311-pytest-8.4.2.pyc
  tests/__pycache__/test_requirement_tracer.cpython-311-pytest-8.4.2.pyc
  tests/__pycache__/test_rm_validator.cpython-311-pytest-8.4.2.pyc
  tests/__pycache__/test_test_coverage_validator.cpython-311-pytest-8.4.2.pyc
  tests/test_design_validator.py
  tests/test_requirement_tracer.py
  tests/test_rm_validator.py
  tests/test_test_coverage_validator.py
Due: mdformat

Implement comprehensive RM compliance reporting system
  .kiro/specs/rdi-rm-compliance-check/tasks.md
  GIT_INTEGRATION.md
  RM_COMPLIANCE_IMPLEMENTATION.md
  __pycache__/task-execution-engine.cpython-311.pyc
  cli.py
  compliance_report_20250904_135904.md
  examples/comprehensive_reporting_demo.py
  src/beast_mode/compliance/reporting/__init__.py
  src/beast_mode/compliance/reporting/__pycache__/__init__.cpython-311.pyc
  src/beast_mode/compliance/reporting/__pycache__/phase3_readiness_assessor.cpython-311.pyc
  src/beast_mode/compliance/reporting/__pycache__/remediation_guide.cpython-311.pyc
  src/beast_mode/compliance/reporting/__pycache__/report_generator.cpython-311.pyc
  src/beast_mode/compliance/reporting/phase3_readiness_assessor.py
  src/beast_mode/compliance/reporting/remediation_guide.py
  src/beast_mode/compliance/reporting/report_generator.py
  task-analysis-20250904-135316.json
  task-execution-engine.py
  test_git_integration.py
  test_rm_compliance.py
  tests/__pycache__/test_phase3_readiness_assessor.cpython-311-pytest-8.4.2.pyc
  tests/__pycache__/test_remediation_guide.cpython-311-pytest-8.4.2.pyc
  tests/__pycache__/test_report_generator.cpython-311-pytest-8.4.2.pyc
  tests/test_phase3_readiness_assessor.py
  tests/test_remediation_guide.py
  tests/test_report_generator.py
Due: json-validate, mdformat

Refactor: Replace 1000-line monolith with clean architecture
  ARCHITECTURE_REFACTOR.md
  Makefile
  clean_cli.py
  src/beast_mode/execution/__init__.py
  src/beast_mode/execution/__pycache__/__init__.cpython-311.pyc
  src/beast_mode/execution/__pycache__/agent_manager.cpython-311.pyc
  src/beast_mode/execution/__pycache__/commands.cpython-311.pyc
  src/beast_mode/execution/__pycache__/execution_engine.cpython-311.pyc
  src/beast_mode/execution/__pycache__/git_session.cpython-311.pyc
  src/beast_mode/execution/__pycache__/task_manager.cpython-311.pyc
  src/beast_mode/execution/agent_manager.py
  src/beast_mode/execution/commands.py
  src/beast_mode/execution/execution_engine.py
  src/beast_mode/execution/git_session.py
  src/beast_mode/execution/task_manager.py
  task-execution-engine.py
Due: mdformat

Complete RDI chain validation and Beast Mode compliance
  RDI_CHAIN_VALIDATION.md
  src/beast_mode/execution/__pycache__/__init__.cpython-311.pyc
  src/beast_mode/execution/__pycache__/agent_manager.cpython-311.pyc
  src/beast_mode/execution/__pycache__/commands.cpython-311.pyc
  src/beast_mode/execution/__pycache__/execution_engine.cpython-311.pyc
  src/beast_mode/execution/__pycache__/git_session.cpython-311.pyc
  src/beast_mode/execution/__pycache__/task_manager.cpython-311.pyc
  src/beast_mode/intelligence/__pycache__/registry_intelligence_engine.cpython-311.pyc
  src/beast_mode/intelligence/registry_intelligence_engine.py
Due: mdformat

🎯 Implement RDI-DAG orchestration with LangGraph integration
  .kiro/specs/cli-implementation-standards/requirements.md
  CLI_STANDARDS_ENFORCEMENT.md
  Makefile
  assessment_results/approach_measurements.jsonl
  assessment_results/production_readiness_assessment_20250904_143556.json
  assessment_results/production_readiness_assessment_20250904_143917.json
  beast
  beast_mode_final_health_report.json
  metrics_data/gke_service_requests.jsonl
  metrics_data/gke_velocity_measurements.jsonl
  pyproject.toml
  src/beast_mode/analysis/rm_rdi/__pycache__/base.cpython-311.pyc
  src/beast_mode/analysis/rm_rdi/__pycache__/orchestrator.cpython-311.pyc
  src/beast_mode/analysis/rm_rdi/base.py
  src/beast_mode/analysis/rm_rdi/orchestrator.py
  src/beast_mode/autonomous/__pycache__/__init__.cpython-311.pyc
  src/beast_mode/autonomous/__pycache__/pdca_langgraph_orchestrator.cpython-311.pyc
  src/beast_mode/autonomous/pdca_langgraph_orchestrator.py
  src/beast_mode/validation/__pycache__/rdi_chain_orchestrator.cpython-311.pyc
  src/beast_mode/validation/rdi_chain_orchestrator.py
  src/beast_mode/validation/rdi_dag_integration.py
  uv.lock
Due: json-validate, mdformat

Update test-rca-integration spec and RDI chain orchestrator implementation
  .kiro/specs/test-rca-integration/design.md
  .kiro/specs/test-rca-integration/requirements.md
  .kiro/specs/test-rca-integration/tasks.md
  RCA_MITIGATION_PLAN.md
  beast_mode_final_health_report.json
  src/beast_mode/analysis/rm_rdi/__pycache__/orchestrator.cpython-311.pyc
  src/beast_mode/autonomous/__pycache__/pdca_langgraph_orchestrator.cpython-311.pyc
  src/beast_mode/autonomous/pdca_langgraph_orchestrator.py
  src/beast_mode/validation/__pycache__/rdi_chain_orchestrator.cpython-311.pyc
  src/beast_mode/validation/rdi_chain_orchestrator.py
Due: json-validate, mdformat

Update tasks.md with latest progress
  .kiro/specs/test-rca-integration/tasks.md
Due: mdformat

Update test-rca-integration spec tasks
  .kiro/specs/test-rca-integration/tasks.md
  Makefile
  examples/rca_report_generation_demo.py
  examples/test_rca_integration_demo.py
  makefiles/testing.mk
  patterns/rca_patterns.json
  src/beast_mode/intelligence/__pycache__/registry_intelligence_engine.cpython-311.pyc
  src/beast_mode/testing/__pycache__/__init__.cpython-311.pyc
  src/beast_mode/testing/__pycache__/rca_integration.cpython-311.pyc
  src/beast_mode/testing/__pycache__/rca_report_generator.cpython-311.pyc
  src/beast_mode/testing/rca_integration.py
  src/beast_mode/testing/rca_report_generator.py
  tests/__pycache__/test_rca_integration.cpython-311-pytest-8.4.2.pyc
  tests/__pycache__/test_rca_integration_integration.cpython-311-pytest-8.4.2.pyc
  tests/__pycache__/test_rca_report_generator.cpython-311-pytest-8.4.2.pyc
  tests/test_rca_integration.py
  tests/test_rca_integration_integration.py
  tests/test_rca_report_generator.py
Due: json-validate, mdformat

Add RCA CLI implementation and test integration spec
  .kiro/specs/test-rca-integration/tasks.md
  assessment_results/approach_measurements.jsonl
  assessment_results/production_readiness_assessment_20250904_153756.json
  assessment_results/production_readiness_assessment_20250904_153931.json
  beast_mode_final_health_report.json
  makefiles/testing.mk
  metrics_data/gke_service_requests.jsonl
  metrics_data/gke_velocity_measurements.jsonl
  patterns/rca_patterns.json
  scripts/rca_cli.py
  src/beast_mode/analysis/rm_rdi/__pycache__/base.cpython-311.pyc
  src/beast_mode/analysis/rm_rdi/__pycache__/orchestrator.cpython-311.pyc
Due: json-validate, mdformat

Implement RCA engine integration with comprehensive testing
  .kiro/specs/test-rca-integration/tasks.md
  examples/test_rca_engine_demo.py
  src/beast_mode/analysis/__pycache__/rca_engine.cpython-311.pyc
  src/beast_mode/analysis/rca_engine.py
  tests/__pycache__/test_rca_engine_test_specific.cpython-311-pytest-8.4.2.pyc
  tests/test_rca_engine_test_specific.py
Due: mdformat

Implement comprehensive RCA integration with test failure detection and multi-failure analysis
  .kiro/specs/test-rca-integration/tasks.md
  Makefile
  __pycache__/task-execution-engine.cpython-311.pyc
  assessment_results/approach_measurements.jsonl
  assessment_results/production_readiness_assessment_20250904_155407.json
  assessment_results/production_readiness_assessment_20250904_155553.json
  beast_mode_final_health_report.json
  cli.py
  comprehensive-requirements-audit-report.md
  latest-audit-results.json
  makefiles/testing.mk
  metrics_data/gke_service_requests.jsonl
  metrics_data/gke_velocity_measurements.jsonl
  patterns/rca_patterns.json
  requirements-audit-20250904-155451.json
  requirements-audit-detailed.txt
  requirements-consistency-audit-report.md
  scripts/__pycache__/rca_cli.cpython-311.pyc
  scripts/rca_cli.py
  src/beast_mode/testing/__pycache__/rca_integration.cpython-311.pyc
  src/beast_mode/testing/__pycache__/rca_report_generator.cpython-311.pyc
  src/beast_mode/testing/__pycache__/test_failure_detector.cpython-311-pytest-8.4.2.pyc
  src/beast_mode/testing/__pycache__/test_failure_detector.cpython-311.pyc
  src/beast_mode/testing/performance_monitor.py
  src/beast_mode/testing/rca_integration.py
  src/beast_mode/testing/rca_report_generator.py
  src/beast_mode/testing/test_failure_detector.py
  task-execution-engine.py
  tests/__pycache__/test_automatic_rca_triggering.cpython-311-pytest-8.4.2.pyc
  tests/__pycache__/test_multi_failure_analysis.cpython-311-pytest-8.4.2.pyc
  tests/test_automatic_rca_triggering.py
  tests/test_multi_failure_analysis.py
Due: json-validate, mdformat

Implement comprehensive RCA integration with test failure detection and performance monitoring
  .kiro/specs/test-rca-integration/tasks.md
  examples/rca_performance_optimization_demo.py
  patterns/rca_patterns.json
  src/beast_mode/testing/__pycache__/performance_monitor.cpython-311.pyc
  src/beast_mode/testing/__pycache__/rca_integration.cpython-311.pyc
  src/beast_mode/testing/__pycache__/timeout_handler.cpython-311.pyc
  src/beast_mode/testing/performance_monitor.py
  src/beast_mode/testing/rca_integration.py
  src/beast_mode/testing/test_pattern_library.py
  src/beast_mode/testing/timeout_handler.py
  tests/__pycache__/test_rca_performance_optimization.cpython-311-pytest-8.4.2.pyc
  tests/test_rca_performance_optimization.py
  tests/test_test_pattern_library.py
Due: json-validate, mdformat

Add Devpost hackathon integration spec
  .kiro/specs/devpost-hackathon-integration/design.md
  .kiro/specs/devpost-hackathon-integration/requirements.md
  .kiro/specs/devpost-hackathon-integration/tasks.md
Due: mdformat

Implement comprehensive error handling and RCA integration
  .kiro/specs/test-rca-integration/tasks.md
  TASK_10_ERROR_HANDLING_IMPLEMENTATION_SUMMARY.md
  TASK_9_IMPLEMENTATION_SUMMARY.md
  examples/error_handling_demo.py
  src/beast_mode/testing/__pycache__/error_handler.cpython-311.pyc
  src/beast_mode/testing/__pycache__/rca_integration.cpython-311.pyc
  src/beast_mode/testing/__pycache__/test_pattern_library.cpython-311-pytest-8.4.2.pyc
  src/beast_mode/testing/__pycache__/test_pattern_library.cpython-311.pyc
  src/beast_mode/testing/error_handler.py
  src/beast_mode/testing/rca_integration.py
  src/beast_mode/testing/test_failure_detector.py
  src/beast_mode/testing/test_pattern_library.py
  tests/__pycache__/test_rca_error_handling.cpython-311-pytest-8.4.2.pyc
  tests/__pycache__/test_rca_integration_with_patterns.cpython-311-pytest-8.4.2.pyc
  tests/__pycache__/test_test_pattern_library.cpython-311-pytest-8.4.2.pyc
  tests/test_rca_error_handling.py
  tests/test_rca_error_integration.py
  tests/test_rca_integration_comprehensive.py
  tests/test_rca_integration_with_patterns.py
  tests/test_test_pattern_library.py
Due: mdformat

feat: implement multi-failure analysis and grouping (task 7)
  .kiro/specs/test-rca-integration/tasks.md
  TASK_11_COMPREHENSIVE_TEST_SUITE_SUMMARY.md
  patterns/rca_patterns.json
  patterns/test_pattern_learning.json
  patterns/test_pattern_metrics.json
  patterns/test_specific_patterns.json
  src/beast_mode/testing/__pycache__/error_handler.cpython-311.pyc
  src/beast_mode/testing/__pycache__/rca_integration.cpython-311.pyc
  src/beast_mode/testing/__pycache__/test_failure_detector.cpython-311-pytest-8.4.2.pyc
  src/beast_mode/testing/__pycache__/test_failure_detector.cpython-311.pyc
  src/beast_mode/testing/__pycache__/test_pattern_library.cpython-311-pytest-8.4.2.pyc
  src/beast_mode/testing/__pycache__/test_pattern_library.cpython-311.pyc
  src/beast_mode/testing/test_failure_detector.py
  tests/__pycache__/test_rca_compatibility_validation.cpython-311-pytest-8.4.2.pyc
  tests/__pycache__/test_rca_integration_comprehensive.cpython-311-pytest-8.4.2.pyc
  tests/__pycache__/test_rca_performance_validation.cpython-311-pytest-8.4.2.pyc
  tests/fixtures/test_rca_failure_scenarios.py
  tests/test_rca_compatibility_validation.py
  tests/test_rca_integration_comprehensive.py
  tests/test_rca_integration_validation_suite.py
  tests/test_rca_performance_validation.py
Due: json-validate, mdformat

feat: Complete Task 2.1 - Enhanced Devpost data models with comprehensive validation
  .kiro/specs/devpost-hackathon-integration/tasks.md
  src/beast_mode/integration/devpost/README.md
  src/beast_mode/integration/devpost/__init__.py
  src/beast_mode/integration/devpost/api/__init__.py
  src/beast_mode/integration/devpost/auth/__init__.py
  src/beast_mode/integration/devpost/cli/__init__.py
  src/beast_mode/integration/devpost/config.py
  src/beast_mode/integration/devpost/interfaces.py
  src/beast_mode/integration/devpost/models.py
  src/beast_mode/integration/devpost/preview/__init__.py
  src/beast_mode/integration/devpost/project/__init__.py
  src/beast_mode/integration/devpost/sync/__init__.py
  src/beast_mode/integration/devpost/validation.py
  tests/unit/integration/__init__.py
  tests/unit/integration/devpost/__init__.py
  tests/unit/integration/devpost/test_models.py
  tests/unit/integration/devpost/test_validation.py
Due: mdformat

Path conditions:
  json-validate: any of: \.json$, but not: (?x)^(
    \.git/|
    \.venv/|
    __pycache__/|
    \.mypy_cache/|
    dist/|
    build/|
    \.eggs/|
    \.tox/|
    \.pytest_cache/|
    \.coverage|
    \.ruff_cache|
    \.bandit|
    \.safety|
    \.semgrep|
    \.gitleaks|
    \.trivy|
    .*-report\.json|
    \.secrets\.baseline
)$

  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^(
    \.git/|
    \.venv/|
    __pycache__/|
    \.mypy_cache/|
    dist/|
    build/|
    \.eggs/|
    \.tox/|
    \.pytest_cache/|
    \.coverage|
    \.ruff_cache|
    \.bandit|
    \.safety|
    \.semgrep|
    \.gitleaks|
    \.trivy|
    .*-report\.json|
    \.secrets\.baseline
)$

